<style>
  img.plot-img:hover {
    border: 0.5px solid #ccc;
    transform: scale(2.5);
  }
</style>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    var lazyImages = [].slice.call(document.querySelectorAll("img.plot-img"));

    if ("IntersectionObserver" in window) {
      let lazyImageObserver = new IntersectionObserver(function (entries, observer) {
        entries.forEach(function (entry) {
          if (entry.isIntersecting) {
            let lazyImage = entry.target;
            lazyImage.src = lazyImage.dataset.src;
            if (typeof lazyImage.dataset.srcset === "undefined") {
            } else {
              lazyImage.srcset = lazyImage.dataset.srcset;
            }
            lazyImage.classList.remove("plot-img");
            lazyImageObserver.unobserve(lazyImage);
          }
        });
      });

      lazyImages.forEach(function (lazyImage) {
        lazyImageObserver.observe(lazyImage);
      });
    } else {
      // Possibly fall back to a more compatible method here
    }
  });
</script>

<form
  class="form-horizontal"
  role="form"
  method="post"
  action="{{ url_for('component_api.show_component', id=component['_id'], test=component['test'], runId = component['runId'] ) }}"
  accept-charset="UTF-8"
>
  <input type="hidden" name="regeneratePlots" value="true" placeholder="View" />
  <h3>
    <i class="fa fa-cog"></i> Result Plots
    <button class="btn btn-primary" name="regeneratePlots" title="Click this button when e.g. cache is broken.">Regenerate Plots</button>
  </h3>
</form>

<div class="row align-items-center justify-content-flex-start">
  <div class="col">
    {% if 'plots' in component['electrical'] %}
      {% for result in component['electrical']["plots"]["results"]|sort(attribute='mapType')|reverse %}
        <h4><i class="fa fa-caret-right"></i> <b>{{ result["mapType"] }}</b></h4>
        <div class="display: flex; flex-wrap: wrap;">
          {% for chip, data in result["chips"].items() %}
            {% if not data["num"]==0 %}
              <div width="{{ data["length"] }}" align="left">
                <table class="table table-sm table-bordered" style="font-size: 8pt;">
                  <thead class="table-light">
                    <tr>
                      <th ~~~ scope="col" class="text-left" style="word-wrap:break-word;" colspan="{{ data["num"] }}">{{ chip }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr style="display: flex; flex-wrap: wrap; background: #DDD; max-width: 100%">
                      {% for plot in data["plots"] %}
                        <td scope="col" class="text-left" style="word-wrap:break-word;">
                          <a href="{{ plot['href'] }}">
                            <img
                              src="{{ plot['href'] }}"
                              title="{{ plot["name"] }}"
                              width="{{ data["width"] }}"
                              height="{{ data["height"] }}"
                            />
                          </a>
                        </td>
                      {% endfor %}
                    </tr>
                  </tbody>
                </table>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      {% endfor %}
    {% endif %}

    {% if 'plots_light' in component['electrical'] %}
      <div class="row align-items-top justify-content-center">
        {% for plot_key in component['electrical']['plots_light'] %}
          <div class="col" align="left">
            <h4>{{ plot_key }}</h4>
            <a href="{{ component['electrical']['plots_light'][plot_key] }}"
              ><img src="{{ component['electrical']['plots_light'][plot_key] }}" width="200"
            /></a>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</div>
