{% extends "layout.html" %}

{% block body %}
  <div class="container" style="padding-top:15px;">
    <div class="row align-items-center justify-content-center">
      <div class="col">
        <h1>
          <font color="ff0000"><i class="fa fa-warning"></i>Bad Request</font>
        </h1>

        <h3 style="padding-left:30px;">You provided invalid information and we could not handle your request.</h3>

        <ul>
          <li>{{ message | safe }}</li>
        </ul>
        {% if traceback is defined %}
          <div style="text-align: left; padding-left:3%; padding-right: 3%;">
            <pre>{{ traceback | safe }}</pre>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  <br />
  <div class="container">
    <h4><a href="javascript:history.go(-1)">Back</a></h4>
  </div>
{% endblock %}
