{% extends "layout.html" %}

{% block body %}
  <div class="container">
    <div class="text-left">
      <p><font size="64">User Authorization Required</font></p>
      <img src="{{ url_for('static', filename='assets/images/camera_kao_ninshiki_smartphone_man.png') }}" />
      <img src="{{ url_for('static', filename='assets/images/camera_kao_ninshiki_smartphone.png') }}" />
      <p><font size="5">Please sign-in from the button on the upper right.</font></p>
    </div>
  </div>
{% endblock %}
