{% extends "layout.html" %}

{% block body %}
  <div class="container">
    <div class="text-left">
      <p><font size="64">Insufficient Permissions</font></p>
      <img src="{{ url_for('static', filename='assets/images/camera_kao_ninshiki_smartphone_man.png') }}" />
      <img src="{{ url_for('static', filename='assets/images/camera_kao_ninshiki_smartphone.png') }}" />
      <p><font size="5">You do not have the necessary permissions to make changes.</font></p>
    </div>
  </div>
{% endblock %}
