{% extends "layout.html" %}

{% block body %}
  <div class="container">
    <div class="text-left">
      <p><font size="64">Oops,</font></p>
      <p><font size="64">Page not found...</font></p>
      <img src="{{ url_for('static', filename='assets/images/travel_bag_mitsukaranai.png') }}" />
    </div>
  </div>
{% endblock %}
