{% extends "layout.html" %}

{% block body %}
  <div class="container" style="padding-top:15px;">
    <div class="row align-items-center justify-content-center">
      <div class="col">
        <h1>
          <font color="ff0000"><i class="fa fa-warning"></i>This page isn't working...</font>
        </h1>

        <h3 style="padding-left:30px;">LocalDB scripts are currently unable to handle this request.</h3>

        <ul>
          <li>Please check the error message below.</li>
          <li>
            Check on
            <a href="https://mattermost.web.cern.ch/itkpixel/channels/local-database" target="_blank"
              ><button type="button" class="btn btn-outline-dark">Mattermost</button></a
            >
            to see if this is maybe a quick fix.
          </li>
          <li>
            If you are still having trouble, you can
            <a
              href="https://gitlab.cern.ch/YARR/localdb-tools/-/issues/new?issue[description]={{ gitlab_issue_description }}&issue[issue_type]=incident"
              target="_blank"
              ><button type="button" class="btn btn-outline-dark"><i class="fa fa-gitlab"></i> file a GitLab issue</button></a
            >
            to report the bug.
          </li>
        </ul>
        <div style="text-align: left; padding-left:3%; padding-right: 3%;">
          <pre>{{ message | safe }}</pre>
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="container">
    <h4><a href="javascript:history.go(-1)">Back</a></h4>
  </div>
{% endblock %}
