{% extends "layout.html" %}

{% block body %}
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col">
        <h1 style="margin-top: 0.5%; margin-bottom: 0%; font-size: 150%;">
          <a href="/localdb/" style="color:rgba(0, 0, 0, 0.648);;">Top Page</a> > Change your institution
        </h1>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col">
        <h1>
          <font color="#000080"><i class="fa fa-refresh "></i> Change your institution</font>
        </h1>
      </div>
    </div>
  </div>

  {% for msg in messages %}
    {% if 'ERROR' in msg %}
      <div class="alert alert-danger" role="alert">{{ msg | safe }}</div>
    {% else %}
      <div class="alert alert-secondary" role="alert">{{ msg | safe }}</div>
    {% endif %}
  {% endfor %}

  <div class="container">
    {% if institutions is defined and institutions|length > 0 %}
      <font color="#ff0000" size="2">* Required</font>

      <form
        name="changeInstitution"
        id="changeInstitution"
        method="post"
        action="{{ url_for('user_api.institution', username=username, redirect=redirect_url) }}"
      >
        <div class="form-group row">
          <label class="col-form-label col-md-2" for="institution_code">Institution<font color="#ff0000">*</font></label>
          <div class="col-md-10">
            <select class="form-control" name="institution_code" id="institution_code" required="required" onchange="this.form.submit()">
              {% for code, name in institutions.items()|sort(attribute='1') %}
                <option value="{{ code }}" {{ ' selected' if name == session['institution'] else '' }}>{{ name }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </form>
    {% else %}
      <div class="alert alert-primary" role="alert">
        We don't seem to have any information on institutions from the production database. Please perform an
        <a href="{{ url_for('user_api.download_pdinfo') }}"><i class="fa fa-gears"></i> initial data sync with ITkPD</a> first.
      </div>
    {% endif %}
  </div>

  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col">
        <a href="/localdb/">Back to Top Page</a>
      </div>
    </div>
  </div>

  <br />
{% endblock %}
