{% extends "layout.html" %}

{% block body %}
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col">
        <h1>Change password</h1>
      </div>
    </div>
  </div>

  {% if stage == "request" %}
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col">
          <h4>Thank you for changing your password</h4>
          <p>Change your password</p>
        </div>
      </div>
    </div>
  {% else %}
    <div class="container">
      <p>You can change your password.</p>
      <font color="#ff0000" size="2">* Required</font>

      <form class="form-horizontal" role="form" method="post" action="change_password" accept-charset="UTF-8">
        <div class="form-group row">
          <label class="col-form-label col-md-3" for="name">User Name<font color="#ff0000">*</font></label>
          <div class="col-md-9">
            {% if stage == "input" %}
              <input
                type="text"
                class="form-control"
                value="{{ userInfo[0] }}"
                placeholder="Input a user name"
                name="userinfo"
                id="name"
                required="required"
              />
            {% elif stage == "confirm" %}
              <input type="hidden" value="{{ userInfo[0] }}" name="userinfo" />
              <p>{{ userInfo[0] }}</p>
            {% endif %}
          </div>
          {% if not nametext == _brank %}
            <div class="col-md-3"></div>
            <div class="col-md-9"><font color="#ff0000">{{ nametext }}</font></div>
          {% endif %}
        </div>

        <div class="form-group row">
          <label class="col-form-label col-md-3" for="name">Current password<font color="#ff0000">*</font></label>
          <div class="col-md-9">
            {% if stage == "input" %}
              <input
                type="password"
                class="form-control"
                value="{{ userInfo[1] }}"
                placeholder="Current password"
                name="userinfo"
                id="name"
                required="required"
              />
            {% elif stage == "confirm" %}
              <input type="hidden" value="{{ userInfo[1] }}" name="userinfo" />
            {% endif %}
          </div>
          {% if not nametext2 == _brank %}
            <div class="col-md-3"></div>
            <div class="col-md-9"><font color="#ff0000">{{ nametext2 }}</font></div>
          {% endif %}
        </div>

        <div class="form-group row">
          <label class="col-form-label col-md-3">New password<font color="#ff0000">*</font></label>
          <div class="col-md-9">
            {% if stage == "input" %}
              <input
                type="password"
                class="form-control"
                value="{{ userInfo[2] }}"
                placeholder="New password"
                name="userinfo"
                required="required"
              />
            {% elif stage == "confirm" %}
              <input type="hidden" value="{{ userInfo[2] }}" name="userinfo" />
            {% endif %}
          </div>
        </div>

        {% if stage == "input" %}
          <div class="form-group row">
            <label class="col-form-label col-md-3">New password(Confirm)<font color="#ff0000">*</font></label>
            <div class="col-md-9">
              <input
                type="password"
                class="form-control"
                value="{{ userInfo[3] }}"
                placeholder="Re-Enter new password"
                name="userinfo"
                required="required"
              />
            </div>
            {% if not passtext == _brank %}
              <div class="col-md-3"></div>
              <div class="col-md-9"><font color="#ff0000">{{ passtext }}</font></div>
            {% endif %}
          </div>
        {% elif stage == "confirm" %}
          <input type="hidden" value="{{ userInfo[2] }}" name="userinfo" />
          <input type="hidden" value="{{ userInfo[3] }}" name="userinfo" />
        {% endif %}

        <div class="form-group row align-items-center justify-content-center">
          <div class="col-md-9">
            {% if stage == "input" %}
              <button type="submit" class="btn btn-primary btn-block" name="stage" value="confirm">Confirm</button>
            {% elif stage == "confirm" %}
              <button type="submit" class="btn btn-primary btn-block" name="stage" value="request">Change</button>
              <button type="submit" class="btn btn-primary btn-block" name="stage" value="input">Back page</button>
            {% endif %}
          </div>
        </div>
      </form>
    </div>
  {% endif %}
{% endblock %}
