{% extends "layout.html" %}
{% block stylesheet %}
  <style>
    a.data:link {
      color: #3cb371;
    }
    a.data:visited {
      color: #3cb371;
    }
    a.data:hover {
      color: #ff8c00;
    }
    a.data:active {
      color: #dc143c;
    }
    th {
      background-color: #eeeeff;
    }
    .bg-warning th {
      background-color: transparent;
    }
  </style>
{% endblock %}
{% block body %}
  <div class="container">
    <div class="row align-items-top justify-content-center">
      <div class="col">
        <p style="margin-top: 0.5%; margin-bottom: 0%; font-size: 100%;">
          <a href="/localdb/" style="color:rgba(0, 0, 0, 0.648);">Top Page</a>
          &gt; <a href="/localdb/components" style="color:rgba(0, 0, 0, 0.648);">Component List</a>
          {% if component['info']['name'] %}
            &gt;
            <a
              class="serialNumber"
              href="{{ url_for('component_api.show_component', id=component['_id']) }}"
              style="color:rgba(0, 0, 0, 0.648);"
              >{{ component['info']['name'] }}</a
            >
          {% else %}
            &gt;
            <a href="{{ url_for('component_api.show_component', id=component['_id']) }}" style="color:rgba(0, 0, 0, 0.648);">Component</a>
          {% endif %}

          {% if component['qctest']['results'] %}
            &gt; QC Result
            {% if 'testType' in component['qctest']['results'] %}
              / {{ component['qctest']['results']['stage'] }} / {{ component['qctest']['results']['testType'] }}
            {% endif %}
          {% endif %}

          {% if component['property']['properties'] %}
            &gt; Module Property
            {% if 'testType' in component['property']['results'] %}
              / {{ component['property']['results']['testType'] }}
            {% endif %}
          {% endif %}

          {% if component['electrical']['results'] %}
            &gt; Scan Result
            {% if 'stage' in component['electrical']['results']['info'] %}
              / {{ component['electrical']['results']['info']['stage'] }}
            {% endif %}

            {% if 'testType' in component['electrical']['results']['info'] %}
              / {{ component['electrical']['results']['info']['testType'] }}
            {% endif %}

            {% if 'runNumber' in component['electrical']['results']['info'] %}
              / Run {{ component['electrical']['results']['info']['runNumber'] }}
            {% endif %}
          {% endif %}
        </p>
      </div>
    </div>
  </div>
  <hr />

  <div class="container">
    {% include 'parts/showMessages.html' %}

    <div class="row align-items-top justify-content-left">
      {% if component['info'] %}

        {% if component['info']['proID'] %}
          {% set name = component['info']['name'] %}
          <h1 style="margin-top: 20px;">
            <span class="serialNumber">{{ component['info']['name'] }}</span><br />
            <span style="font-size: 50%; color:#888;"> {{ component['info']['typeinfo'] }} </span><br />
            <div class="balloonoya" style="font-size: 50%; margin-top: 5px;">
              <a
                href="https://itkpd-test.unicorncollege.cz/componentView?code={{ component["info"]["proID"] }}"
                target="_blank"
                rel="noopener noreferrer"
                class="badge badge-pill badge-info"
                ><i class="fa fa-external-link "></i>&nbsp;&nbsp;ITkPD Component Page</a
              >
              <span class="balloon" style="padding: 5px;"> Jump to ITkPD component page </span>
            </div>
          </h1>
        {% else %}
          <h1>Component: <span class="serialNumber">{{ component['info']['name'] }}</span></h1>
          <h4>
            <font style="color:#dc143c;">
              <i class="fa fa-warning "></i> Link to ITkPD is missing! Please re-download component IDs:
              <a href="{{ url_for('user_api.download_component') }}"
                ><button type="button" class="btn btn-outline-danger btn-sm">Download IDs</button></a
              >
            </font>
          </h4>
          <br />
        {% endif %}
      {% endif %}
    </div>
    <div class="row align-items-top justify-content-left">
      <div class="col">
        <h2 style="font-size: 150%;"><i class="fa fa-cog"></i> Component Information</h2>
        {% if component['info'] %}
          <table class="table table-sm table-bordered" style="font-size: 100%;">
            <thead class="table-light">
              <tr>
                <th scope="col" class="text-left" width="250">Item</th>
                <th scope="col" class="text-left">Value</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="raw" class="text-left" width="250">Serial Number</th>
                <td>
                  <a
                    href="{{ url_for('component_api.show_component', id=component['_id']) }}"
                    class="badge badge-pill badge-info serialNumber"
                    style="font-size:100%;"
                    >{{ component['info']['name'] }}</a
                  >
                </td>
              </tr>
              <tr>
                <th scope="ros" class="text-left" width="250">Production DB Component ID</th>
                <td>{{ component['info']['proID'] }}</td>
              </tr>
              <tr>
                <th scope="raw" class="text-left" width="250">LocalDB Component ID</th>
                <td>{{ component['info']['component'] }}</td>
              </tr>
              <tr>
                <th scope="raw" class="text-left" width="250">Component Type</th>
                <td>{{ component['info']['type'] }}</td>
              </tr>
              {% if isModule == True %}
                <tr>
                  <th scope="raw" class="text-left" width="250">FE type</th>
                  <td>{{ component['info']['chipType'] }}</td>
                </tr>
              {% endif %}

              <tr>
                <th scope="raw" class="text-left" width="250">Super-Component</th>
                <td>
                  {% for parent in component['info']['parents'] %}
                    <a
                      href="{{ url_for('component_api.show_component', id=parent['_id']) }}"
                      class="badge badge-pill badge-info serialNumber"
                      style="font-size:90%;"
                      >{{ parent['name'] }}</a
                    >&ensp;
                  {% endfor %}
                  {% if (component['info']['parents'] | length) == 0 %}
                    No match.
                  {% endif %}
                </td>
              </tr>
              <tr>
                <th scope="raw" class="text-left" width="250">Sub-Components</th>
                {% if component['info']['children'] %}
                  <td style="line-height: 2em;">
                    {% for child in component['info']['children'] %}
                      {% if child['name'] != None %}
                        &bull;&nbsp;
                        <a
                          href="{{ url_for('component_api.show_component', id=child['_id']) }}"
                          class="badge badge-pill badge-info serialNumber"
                          style="font-size:90%;"
                          >{{ child['name'] }}</a
                        >
                        &nbsp;
                        {% if child['name'].find( 'XF' ) == 5 or child['name'].find( 'FC' ) == 5 %}
                          FE Chip
                        {% elif child['name'].find( 'PBBC' ) == 3 or child['name'].find( 'PBZP' ) == 3 %}
                          Cooling Cell
                        {% elif child['name'][5] == 'B' or child['name'].find( 'XB' ) == 5 %}
                          Bare Module
                        {% elif child['name'][5] == 'P' or child['name'].find( 'XP' ) == 5 %}
                          PCB
                        {% elif child['name'][5] == 'S' or child['name'].find( 'XS' ) == 5 %}
                          Sensor Tile
                        {% elif child['name'][5] == 'M' or child['name'][5] == 'R' or child['name'].find( 'XM' ) == 5 %}
                          Module
                        {% endif %}
                        <br />
                      {% endif %}
                    {% endfor %}
                  </td>
                {% else %}
                  <td>No match.</td>
                {% endif %}
              </tr>
              <tr>
                <th scope="raw" class="text-left" width="250">
                  Flags
                  {% if False %}
                    <button
                      type="button"
                      class="btn btn-primary"
                      data-toggle="collapse"
                      href="#collapseFlagManager"
                      role="button"
                      aria-expanded="false"
                      aria-controls="collapseFlagManager"
                    >
                      Manage
                    </button>
                  {% endif %}
                </th>
                <td>
                  {% for flag_code, flag in component['info']['flags']|dictsort %}
                    {% if flag["status"] %}
                      &bull;&nbsp;<span class="badge badge-pill badge-warning" style="font-size: 100%; border: 1px solid;"
                        >{{ flag["name"] }}</span
                      >
                    {% endif %}
                  {% endfor %}
                </td>
              </tr>
            </tbody>
          </table>

          <div class="collapse" id="collapseFlagManager">
            <div class="card card-body">
              <form action="{{ url_for('component_api.show_component', id=component['_id']) }}" method="post">
                <table>
                  <tbody>
                    <tr>
                      <td>
                        {% for flag_code, flag in component['info']['flags']|dictsort %}
                          <div class="form-check">
                            <input
                              class="form-check-input"
                              type="checkbox"
                              value=""
                              id="{{ flag_code }}"
                              {% if flag["status"] %}checked{% endif %}
                            />
                            <label class="form-check-label" for="defaultCheck1"> {{ flag["name"] }} </label>
                          </div>
                        {% endfor %}
                      </td>
                      <td valign="top">
                        <button type="submit" class="btn btn-primary" name="mode" value="updateFlags" style="margin-left: 30px;">
                          <i class="fa fa-pencil-square-o "></i> Update Flags
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </form>
            </div>
          </div>
        {% endif %}

        {% if session['logged_in'] and component['info']['type'] == "module" %}
        {% endif %}

        {% if component['electrical']['results'] %}
          <h3>Result: {{ component['electrical']['results']['info']['runNumber'] }}</h3>
        {% endif %}
      </div>

      <div class="col-md-6">
        <!----------------------------------- PROPERTIES -------------------------------------------->
        {% if component['info']['properties'] != None %}
          <h2 style="font-size: 150%;"><i class="fa fa-cog"></i> Properties</h2>
          <form action="{{ url_for('component_api.show_component', id=component['_id']) }}" method="post" style="font-size: 110%;">
            <table class="table table-sm table-bordered" style="font-size: 90%; margin-left: 30px; width: 90%;">
              <thead class="table-light">
                <tr>
                  <th scope="col" class="text-left">Item</th>
                  <th scope="col" class="text-left">Data Type</th>
                  <th scope="col" class="text-left">Value</th>
                </tr>
                {% for prop in component['info']['properties'] %}
                  {% if prop['name'] %}
                    <tr>
                      <th scope="row">{{ prop['name'] }}</th>
                      <td>{{ prop['dataType'] }}</td>
                      {% if not session['logged_in'] or prop['readonly'] %}
                        <td>{{ prop['value'] }}</td>
                      {% else %}
                        <td>
                          {% if prop['dataType'] == 'codeTable' %}
                            <select name="{{ prop['code'] }}">
                              <option value="N/A" {% if prop['value'] == None %}selected{% endif %}>N/A</option>
                              {% for elem in prop['codeTable'] %}
                                <option value="{{ elem['code'] }}" {% if prop['value'] == elem['code'] %}selected{% endif %}>
                                  {{ elem['value'] }}
                                </option>
                              {% endfor %}
                            </select>
                          {% elif prop['dataType'] == 'boolean' %}
                            <select name="{{ prop['code'] }}">
                              <option value="N/A" {% if prop['value'] == None %}selected{% endif %}>N/A</option>
                              <option value="true" {% if prop['value'] == True %}selected{% endif %}>Yes</option>
                              <option value="false" {% if prop['value'] == False %}selected{% endif %}>No</option>
                            </select>
                          {% elif prop['dataType'] == 'float' %}
                            <input type="number" name="{{ prop['code'] }}" value="{{ prop['value'] }}" />
                          {% elif prop['dataType'] == 'integer' %}
                            <input type="number" name="{{ prop['code'] }}" value="{{ prop['value'] }}" />
                          {% else %}

                            {% if prop['value'] != None %}
                              <input type="text" name="{{ prop['code'] }}" value="{{ prop['value'] }}" />
                            {% else %}
                              <input type="text" name="{{ prop['code'] }}" value="N/A" />
                            {% endif %}
                          {% endif %}
                        </td>
                      {% endif %}
                    </tr>
                  {% endif %}
                {% endfor %}
              </thead>
            </table>
            {% if session['logged_in'] %}
              <button type="submit" class="btn btn-primary" name="mode" value="updateProperties" style="margin-left: 30px;">
                <i class="fa fa-pencil-square-o "></i> Update Properties
              </button>
            {% endif %}
          </form>
        {% endif %}
      </div>
    </div>
    <div class="row align-items-top justify-content-right"></div>
    <br />
    <div class="row align-items-top justify-content-left">{% include "displayComponent/comment.html" %}</div>

    <!-- Test Result Section -->

    <!-- For Electrical Scan Result -->
    {% if component['electrical']['results'] %}
      <hr />
      <h3>
        Scan Result: {{ component['electrical']['results']['info']['testType'] }} / run
        {{ component['electrical']['results']['info']['runNumber'] }} (Stage: {{ component['electrical']['results']['info']['stage'] }})
        <br /><span style="font-size: 50%;">(ObjectId: {{ component['_id'] }})</span>
      </h3>
    {% endif %}
    {% if component['electrical']['plots'] or component['electrical']['plots_light'] %}
      <br />
      {% include "yarr_scans/plot.html" %}
    {% endif %}

    {% if component['electrical']['results'] %}
      <br />
      {% include "yarr_scans/result.html" %}
    {% endif %}

    {% if component['electrical']['dcs'] %}
      <h4 style="font-size: 10pt;">
        <i class="fa fa-paint-brush"></i> DCS
        {% if not component['electrical']['dcs']['dcs_data_exist'] %}
          <font color="#ff0000" size="2">### NO DCS DATA ###</font>
        {% else %}
          <a
            href="{{ url_for('plot_dcs_api.show_dcs', runId=component['electrical']['results']['runId']) }}"
            target="_brank"
            rel="noopener noreferrer"
          >
            plot
          </a>
        {% endif %}
      </h4>
    {% endif %}

    <!-- For Component Properties -->
    {% if component['property']['properties'] %}
      {% set properties = component['property']['properties'] %}
      <br />
      <h3>
        <i class="fa fa-angle-double-right"></i> <b><span style="color: #AAA;">Test:</span> {{ properties['testType'] }}</b>
      </h3>
      <h4>(Stage: {{ properties['stage'] }})</h4>

      {% if properties['results'] %}
        <br />
        {% if properties['testType'] in component['property']['prop_item']['test'] %}
          {% include component['property']['prop_item']['html'][properties['testType']] %}
        {% endif %}
      {% else %}
        <br />
        <h4 style="font-size: 13pt;">This result page is being constructed.</h4>
      {% endif %}
    {% endif %}

    <!-- For Component Results -->
    {% if component['qctest']['results']['testType'] is defined %}
      {% set results = component['qctest']['results'] %}
      <br />
      <h3>
        <i class="fa fa-angle-double-right"></i> <b><span style="color: #AAA;">Test:</span> {{ results['testType'] }}</b>

        {% if component['qctest']['results']['passed'] %}
          <span class="badge badge-pill badge-success" style="font-size:100%;">QC Passed</span>
        {% else %}
          <span class="badge badge-pill badge-dark" style="font-size:100%;">QC Failed</span>
        {% endif %}
      </h3>

      <h4>(Stage: {{ results['stage'] }})</h4>
      {% if results['results'] %}
        <br />
        <!-- The following template html fragments are contained in templates/displayResults. -->
        <!-- See json-list/supported_test.json for mapping between a Test and the html fragment -->
        {% set testType = results['testType'] %}
        {% if testType in component['qctest']['test_item']['test'] %}
          {% include component['qctest']['test_item']['html'][ testType ] %}
        {% else %}
          {% include "displayResults/qc_others.html" %}
        {% endif %}

        {% if results['results']['raw_record'] != None and results['results']['raw_record'] != {} %}
          {% include "displayResults/rawRecord.html" %}
        {% endif %}

        {% if 'prodDB_record' in results %}
          {% include "displayResults/prodDbRecord.html" %}
        {% endif %}
      {% else %}
        <br />
        <h4 style="font-size: 13pt;">This result page is being constructed.</h4>
      {% endif %}
    {% endif %}

    {% if component['latest_tests'] %}
      <div style="margin-bottom: 50px;"></div>

      {% include "displayComponent/latest_test_index.html" %}
      <div style="margin-bottom: 50px;"></div>
    {% endif %}

    {% if component['summary'] %}
      {% include "displayComponent/summary_index.html" %}
    {% endif %}

    <div id="accordion">
      <div style="margin-bottom: 50px;"></div>

      {% if component['property']['propIndex'] %}
        {% include "displayComponent/moduleprop_index.html" %}
      {% endif %}

      {% if component['qctest']['resultIndex'] %}
        {% include "displayComponent/qctest_index.html" %}
      {% endif %}

      {% if component['electrical']['resultIndex'] %}
        {% include "displayComponent/test_index.html" %}
      {% endif %}

      {% if component['config_revision'] %}
        {% include "displayComponent/config_index.html" %}
      {% endif %}
      {% include "displayComponent/flow_image.html" %}
    </div>
    <!-- end of accordion -->

    <h5 style="margin-top: 50px; text-align:center; font-size: 100%;">
      <a href="{{ url_for('component_api.show_component', id=component['_id'] ) }}">Back to top page of this component</a>
    </h5>
  </div>
{% endblock %}
