{% extends "layout.html" %}

{% block body %}
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col">
        <h1 style="margin-top: 0.5%; margin-bottom: 0%; font-size: 150%;">
          <a href="/localdb/" style="color:rgba(0, 0, 0, 0.648);">Top Page</a> >
          <a href="/localdb/compare_tests" style="color:rgba(0, 0, 0, 0.648);">Compare Tests</a>
        </h1>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col">
        <h1>Compare Tests</h1>
      </div>
    </div>
    <br />

    <div class="container">
      <div class="row align-items-center justify-content-center" style="width: 70%;">
        <div class="col" style="margin-top: 30px;">
          {% if state['step'] == "init" %}
            <h2>Step-1: Select Module</h2>
            <form class="form-horizontal" role="form" method="post" action="{{ url_for('qc_api.compare_tests') }}" accept-charset="UTF-8">
              <input type="hidden" name="mode" value="submit" />
              <br /><br />
              <div class="form-group row">
                <label class="col-form-label col-md-3">Select Module<font color="#ff0000">*</font></label>
                <div class="col-md-9">
                  <select class="form-control" style="width: 100%;" name="module_sn" id="required" ="required" value="">
                    <option selected disabled>Select Module...</option>
                    {% for module_sn in state['module_list'] | reverse %}
                      <option value="{{ module_sn }}">{{ module_sn }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>

              <button type="submit" class="btn btn-primary" name="mode" value="submit">Next</button>
            </form>
          {% elif state['step'] == "subcpt" %}
            <h2>Step-2: Select SubComponent</h2>
            <h3><i class="fa fa-check"></i> Module: {{ state["module_sn"] }}</h3>
            <form class="form-horizontal" role="form" method="post" action="{{ url_for('qc_api.compare_tests') }}" accept-charset="UTF-8">
              <input type="hidden" name="mode" value="submit" />
              <br /><br />
              <div class="form-group row">
                <label class="col-form-label col-md-3">Select SubComponent Type<font color="#ff0000">*</font></label>
                <div class="col-md-9">
                  <select class="form-control" style="width: 100%;" name="subcpt" id="required" ="required" value="">
                    <option selected disabled>Select SubComponent Type...</option>
                    {% for cpt_type in state['cpt_list'] %}
                      <option value="{{ cpt_type['code'] }}">{{ cpt_type['name'] }}</option>
                    {% endfor %}
                  </select>
                  <input type="hidden" name="module_sn" value="{{ state['module_sn'] }}" />
                </div>
              </div>

              <button type="submit" class="btn btn-primary" name="mode" value="submit">Next</button>
            </form>
          {% elif state['step'] == "test_type" %}
            <h2>Step-3: Select Test Type</h2>
            <h3><i class="fa fa-check"></i> Module: {{ state["module_sn"] }}</h3>
            <h3><i class="fa fa-check"></i> SubComponent: {{ state["subcpt"] }}</h3>
            <form class="form-horizontal" role="form" method="post" action="{{ url_for('qc_api.compare_tests') }}" accept-charset="UTF-8">
              <input type="hidden" name="mode" value="submit" />
              <br /><br />
              <div class="form-group row">
                <label class="col-form-label col-md-3">Select Test Type<font color="#ff0000">*</font></label>
                <div class="col-md-9">
                  <select class="form-control" style="width: 100%;" name="test_type" id="required" ="required" value="">
                    <option selected disabled>Select Test Type...</option>
                    {% for test_type in state['test_list'] %}
                      <option value="{{ test_type['code'] }}">
                        {{ test_type['componentType']['name'] }} : {{ test_type['code'] }} ({{ test_type['name'] }})
                      </option>
                    {% endfor %}
                  </select>
                  <input type="hidden" name="module_sn" value="{{ state['module_sn'] }}" />
                  <input type="hidden" name="subcpt" value="{{ state['subcpt'] }}" />
                </div>
              </div>

              <button type="submit" class="btn btn-primary" name="mode" value="submit">Next</button>
            </form>
          {% elif state['step'] == "stage" %}
            <h2>Step-4: Select Test Type</h2>
            <h3><i class="fa fa-check"></i> Module: {{ state["module_sn"] }}</h3>
            <h3><i class="fa fa-check"></i> SubComponent: {{ state["subcpt"] }}</h3>
            <h3><i class="fa fa-check"></i> Test Type: {{ state["test_type"] }}</h3>
            <form class="form-horizontal" role="form" method="post" action="{{ url_for('qc_api.compare_tests') }}" accept-charset="UTF-8">
              <input type="hidden" name="mode" value="submit" />
              <br /><br />
              <div class="form-group row">
                <label class="col-form-label col-md-3">Select Stage-1<font color="#ff0000">*</font></label>
                <div class="col-md-9">
                  <select class="form-control" style="width: 100%;" name="stage1" id="required" ="required" value="">
                    <option selected disabled>Select a Stage...</option>
                    {% for stage_code in state['stage_list'] %}
                      <option value="{{ stage_code }}">{{ stage_code }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-form-label col-md-3">Select Stage-2<font color="#ff0000">*</font></label>
                <div class="col-md-9">
                  <select class="form-control" style="width: 100%;" name="stage2" id="required" ="required" value="">
                    <option selected disabled>Select another Stage...</option>
                    {% for stage_code in state['stage_list'] %}
                      <option value="{{ stage_code }}">{{ stage_code }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <input type="hidden" name="module_sn" value="{{ state['module_sn'] }}" />
              <input type="hidden" name="subcpt" value="{{ state['subcpt'] }}" />
              <input type="hidden" name="test_type" value="{{ state['test_type'] }}" />

              <button type="submit" class="btn btn-primary" name="mode" value="submit">Next</button>
            </form>
          {% else %}
            <h3><i class="fa fa-check"></i> Module: {{ state["module_sn"] }}</h3>
            <h3><i class="fa fa-check"></i> SubComponent: {{ state["subcpt"] }}</h3>
            <h3><i class="fa fa-check"></i> Test Type: {{ state["test_type"] }}</h3>
            <h3><i class="fa fa-check"></i> Stage-1: {{ state["stage1"] }}</h3>
            <h3><i class="fa fa-check"></i> Stage-2: {{ state["stage2"] }}</h3>

            <div class="col" style="margin-bottom: 40px;">
              <table class="table table-bordered table-striped" style="font-size: 15pt;">
                <tbody>
                  {% for result_i in state["compare_data"][0] %}
                    {% set fe_loop = loop %}
                    {% set result_data1 = state["compare_data"][0][fe_loop.index-1] %}
                    {% set result_data2 = state["compare_data"][1][fe_loop.index-1] %}

                    {% if result_data1 != None and result_data2 != None %}
                      <tr>
                        <th>Serial Number</th>
                        <td>{{ result_i["serialNumber"] }}</td>

                        <td>
                          <table class="table table-bordered table-striped" style="font-size: 15pt;">
                            <tbody>
                              <tr>
                                <th>Stage</th>
                                <th>{{ result_data1['stage'] }}</th>
                                <th>{{ result_data2['stage'] }}</th>
                              </tr>

                              <!-- Auxiliary info -->
                              {% if result_data1['result'] %}
                                {% for k,v in result_data1['result'].items() %}
                                  {% if k in [ 'passed' ] %}
                                    <tr>
                                      <th>{{ k }}</th>
                                      <td>{{ result_data1['result'][k] }}</td>
                                      <td>{{ result_data2['result'][k] }}</td>
                                    </tr>
                                  {% endif %}
                                {% endfor %}
                              {% endif %}

                              <!-- Properties -->
                              {% if result_data1['result'] %}
                                {% for k,v in result_data1['result']['results']['properties'].items() %}
                                  <tr>
                                    <th>{{ k }}</th>
                                    <td>{{ result_data1['result']['results']['properties'][k] }}</td>
                                    <td>{{ result_data2['result']['results']['properties'][k] }}</td>
                                  </tr>
                                {% endfor %}
                              {% endif %}

                              <!-- Result Parameters -->
                              {% if result_data1['result'] %}
                                {% for k,v in result_data1['result']['results'].items() %}
                                  {% if not k == 'properties' %}
                                    <tr>
                                      <th>{{ k }}</th>
                                      <td>{{ result_data1['result']['results'][k] }}</td>
                                      <td>{{ result_data2['result']['results'][k] }}</td>
                                    </tr>
                                  {% endif %}
                                {% endfor %}
                              {% endif %}

                              <!-- Auxiliary info -->
                              {% if result_data1['result'] %}
                                {% for k,v in result_data1['result'].items() %}
                                  {% if not k in [ 'passed', 'results', 'flags' ] %}
                                    <tr>
                                      {% if k == "raw_id" %}
                                        <th>{{ k }}</th>
                                      {% elif k == "gridfs_attachments" %}
                                        <th>{{ k }}</th>

                                        <!-- attachments stage1 -->
                                        <td>
                                          <table>
                                            {% for filepath, nameinfo in result_data1['result'][k].items() %}
                                              <tr>
                                                <th scope="row" class="text-left">{{ nameinfo[0] }}</th>
                                                {% if nameinfo[1] in ['png', 'jpg'] %}
                                                  <td class="text-left"><img src="{{ filepath }}" width="400" /></td>
                                                {% else %}
                                                  <td class="text-left">
                                                    {% set path=filepath %}
                                                    {% set download_name=nameinfo[0] %}
                                                    {% set mimetype="application/"+nameinfo[1] %}
                                                    <a
                                                      class="btn btn-primary"
                                                      href="{{ url_for('component_api.download_file', path=path, download_name=download_name, mimetype=mimetype) }}"
                                                      role="button"
                                                      >Download</a
                                                    >
                                                  </td>
                                                {% endif %}
                                              </tr>
                                            {% endfor %}
                                          </table>
                                        </td>

                                        <!-- attachments stage1 -->
                                        <td>
                                          <table>
                                            {% for filepath, nameinfo in result_data2['result'][k].items() %}
                                              <tr>
                                                <th scope="row" class="text-left">{{ nameinfo[0] }}</th>
                                                {% if nameinfo[1] in ['png', 'jpg'] %}
                                                  <td class="text-left"><img src="{{ filepath }}" width="400" /></td>
                                                {% else %}
                                                  <td class="text-left">
                                                    {% set path=filepath %}
                                                    {% set download_name=nameinfo[0] %}
                                                    {% set mimetype="application/"+nameinfo[1] %}
                                                    <a
                                                      class="btn btn-primary"
                                                      href="{{ url_for('component_api.download_file', path=path, download_name=download_name, mimetype=mimetype) }}"
                                                      role="button"
                                                      >Download</a
                                                    >
                                                  </td>
                                                {% endif %}
                                              </tr>
                                            {% endfor %}
                                          </table>
                                        </td>
                                      {% endif %}
                                    </tr>
                                  {% endif %}
                                {% endfor %}
                              {% endif %}
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    {% else %}
                      ERROR: Comparison is not possible to generate: perhaps either or both of the stage miss the test.
                    {% endif %}
                  {% endfor %}
                </tbody>
              </table>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <br />
{% endblock %}
