<div class="container">
  <div class="row align-items-left justify-content-left cardbody">
    <div class="col">
      {% if table_docs["download_module"] %}
        <h3><i class="fa fa-refresh fa-spin "></i> Downloading process is running in background. Please refresh the page.</h3>
        <br />
      {% endif %}
      {% set pagingInfo = table_docs['pagingInfo'] %}

      <form class="form-horizontal" role="form" method="post" action="{{ table_docs['page'] }}" accept-charset="UTF-8">
        <input type="hidden" name="view" value="{{ table_docs['view'] }}" placeholder="View" />

        <h3>
          <span style="font-size: 50%;"
            >Found {{ pagingInfo['entries'] }} {{ table_docs['view'].upper() }} components in LocalDB.
            {% if table_docs['doShowAll'] == False %}
              <button
                class="btn btn-info"
                style="padding-top: 0; padding-bottom: 0; font-size:90%; margin-bottom: 5pt;"
                name="showall"
                value="true"
              >
                Show All
              </button>
            {% else %}
              <button
                class="btn btn-info"
                style="padding-top: 0; padding-bottom: 0; font-size:90%; margin-bottom: 5pt;"
                name="showall"
                value="false"
              >
                Inbox
              </button>
            {% endif %}
          </span>
        </h3>

        <div class="row align-items-top card-body" style="margin-top:0; padding-top:0; padding-bottom:0;">
          <table class="table table-sm table-hover table-bordered" style="font-size: 10pt; margin-top:0;">
            <thead class="table table-sm table-hover table-bordered">
              <tr>
                {% if session['logged_in'] %}
                  <th style="word-wrap:break-word; text-align:center;">
                    <input type="hidden" name="view" value="{{ table_docs['view'] }}" placeholder="View" />
                    <button class="btn btn-info" style="padding-top:0; padding-bottom:0; font-size: 90%;" name="archive" value="true">
                      Archive
                    </button>
                  </th>
                {% endif %}
                <th style="text-align:left;">{{ table_docs['view'].upper() }}</th>
                <th style="word-wrap:break-word; text-align:left;">Relational Components</th>
                <th style="word-wrap:break-word; text-align:left;">Current Stage</th>
                <th style="word-wrap:break-word; text-align:left;">Last QC Test Type</th>
                <th style="word-wrap:break-word; text-align:left;">Date</th>
                <th style="word-wrap:break-word; text-align:left;">
                  <div class="balloonoya">
                    Tag <i class="fa fa-question-circle "></i>:
                    <button
                      type="button"
                      class="btn btn-info"
                      onclick="location.href='/localdb/create_tag'"
                      style="padding-top: 0; padding-bottom: 0; font-size:90%; margin-bottom: 5pt;"
                    >
                      Create
                    </button>
                    <span class="balloon">
                      Create tags with the button. <br />
                      Attach tags with pulldown menu. <br />
                      Detach tags by choosing a tag twice.
                    </span>
                  </div>
                  <form method="post" action="" id="form_puttag_header" style="margin-bottom: 0%;">
                    <select name="tag_name" id="puttag_component_dummy" onchange="putTag(this.id);" style="display:none;"></select>
                  </form>
                </th>
              </tr>
            </thead>

            <tbody align="left">
              {% for component in table_docs['components'] %}
                {% set index = table_docs['components'].index( component ) %}
                <tr>
                  {% if session['logged_in'] %}
                    <td style="text-align:center;">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        name="archive_{{ component['name'] }}"
                        style="-moz-transform:scale(1.4); -webkit-transform:scale(1.4); transform:scale(1.4);"
                        value="false"
                      />
                    </td>
                  {% endif %}
                  <td style="word-wrap:break-word; text-align:left;">
                    {% if component['name'] != '' %}
                      <a class="serialNumber" href="/localdb/component/{{ component['name'] }}">{{ component['name'] }}</a>
                      {% if component['name'].find( '20U' ) != 0 %}
                        <strong style="color: red;"><br />Not ATLAS SN!</strong>
                      {% else %}

                        {# Component SN digestion #}
                        <br /><span style="color: #ccc;">{{ component['typeinfo'] }}</span>
                      {% endif %}
                    {% else %}
                      <a href="{{ url_for('component_api.show_component', id=component['_id']) }}"
                        ><strong style="color: red;">Missing Module Name!</strong></a
                      >
                    {% endif %}
                  </td>
                  <td style="word-wrap:break-word; text-align:left;">
                    {% for subcomponent in component['cps'] %}
                      <a class="serialNumber" href="/localdb/component/{{ subcomponent['name'] }}">{{ subcomponent['name'] }}</a>
                      &nbsp;<span style="color:#ccc;">{{ subcomponent['typeinfo'] }}</span>
                      {% if subcomponent['hex'] != '' %}
                      {% endif %}
                      <br />
                    {% endfor %}
                  </td>
                  <td style="word-wrap:break-word; text-align:left;">
                    {{ component['stage'] }}
                    <p>
                      {% if component['runId'] %}
                        <a
                          href="{{ url_for('history_api.show_history', id=component['_id']) }}"
                          class="badge badge-pill badge-info"
                          style="font-size: 100%;"
                        >
                          E-Summary History
                        </a>
                      {% endif %}
                    </p>
                  </td>
                  <td style="word-wrap:break-word; text-align:left;">
                    {% if component['runId'] %}
                      <a href="{{ url_for('component_api.show_component', id=component['_id'], runId=component['runId']) }}">
                        {{ component['testType'] }}
                      </a>
                    {% else %}
                      {{ component['testType'] }}
                    {% endif %}
                  </td>
                  <td style="word-wrap:break-word; text-align:left;">{{ component['datetime'] }}</td>
                  <td style="word-wrap:break-word; text-align:left;">
                    {% if session['logged_in'] %}
                      <form method="post" action="{{ url_for('tag_api.put_tag') }}" style="margin-bottom: 0%;">
                        <input type="hidden" name="componentid" value="{{ component['_id'] }}" />
                        <select id="puttag_component_{{ component['_id'] }}" name="tag_name" onchange="this.form.submit();">
                          <option selected="selected" value="">Select a Tag</option>
                          {% for tag in component['component_tag_candidate'] %}
                            <option value="{{ tag['name'] }}">{{ tag['name'] }}</option>
                          {% endfor %}
                        </select>
                      </form>
                    {% endif %}
                    {% for tag in component['component_tag'] %}
                      <span class="badge badge-pill badge-primary"><i class="fa fa-tag"></i> {{ tag['name'] }}</span><br />
                    {% endfor %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        {% if pagingInfo["minPage"] != pagingInfo["maxPage"] %}
          <div style="text-align: center; font-size: 14px; margin-bottom:0;">
            <ul class="page-list">
              <li style="display: inline;">
                <a
                  href="{{ url_for('toppage_api.show_comps', view=table_docs['view'], page=1, keywords=table_docs['keywords'], match=table_docs['match']) }}"
                  >&#8810;</a
                >
              </li>
              <li style="display: inline;">
                <a
                  href="{{ url_for('toppage_api.show_comps', view=table_docs['view'], page=pagingInfo['thisPage']-1, keywords=table_docs['keywords'], match=table_docs['match']) }}"
                  >&lt;</a
                >
              </li>
              {% for index in pagingInfo['range'] %}
                <li style="display: inline;">
                  {% if index == pagingInfo['thisPage'] %}
                    {{ index }}
                  {% else %}
                    <a
                      href="{{ url_for('toppage_api.show_comps', view=table_docs['view'], page=index,keywords=table_docs['keywords'], match=table_docs['match']) }}"
                      >{{ index }}</a
                    >
                  {% endif %}
                </li>
              {% endfor %}
              <li style="display: inline;">
                <a
                  href="{{ url_for('toppage_api.show_comps', view=table_docs['view'], page=pagingInfo['thisPage']+1, keywords=table_docs['keywords'], match=table_docs['match']) }}"
                  >&gt;</a
                >
              </li>
              <li style="display: inline;">
                <a
                  href="{{ url_for('toppage_api.show_comps', view=table_docs['view'], page=pagingInfo['maxPage'],keywords=table_docs['keywords'], match=table_docs['match']) }}"
                  >&#8811;</a
                >
              </li>
            </ul>
          </div>
        {% endif %}
      </form>
    </div>
  </div>
</div>
