{% extends "layout.html" %}

{% block body %}
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col">
        <h1 style="margin-top: 0.5%; margin-bottom: 0%; font-size: 150%;">
          <a href="/localdb/" style="color:rgba(0, 0, 0, 0.648);;">Top Page</a> > Create a new tag
        </h1>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col">
        <h1>
          <font color="#000080"><i class="fa fa-tags"></i> Create a new tag</font>
        </h1>
      </div>
    </div>
  </div>

  {% if stage == "request" %}
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col">
          <h3>Thank you for creating a new tag.</h3>
        </div>
      </div>
    </div>
  {% else %}
    <div class="container">
      <h2>
        <p>
          You can create a new tag using this form.<br />
          Please input a tag name in the field below.
        </p>
      </h2>
      {% if nametext %}
        <h3>
          <font color="#ff0000"><i class="fa fa-warning "></i> {{ nametext }} </font>
        </h3>
      {% endif %}

      <form class="form-horizontal" role="form" method="post" action="create_tag" accept-charset="UTF-8">
        <div class="form-group row col-md-10">
          {% if stage == "input" %}
            <input
              type="text"
              pattern="[^\x22\x27]*"
              class="form-control"
              value="{{ tagInfo[0] }}"
              placeholder="Tag name"
              name="taginfo"
              id="name"
              required="required"
            />
          {% elif stage == "confirm" %}
            <input type="hidden" value="{{ tagInfo[0] }}" name="taginfo" />
            <h3>
              <p><i class="fa fa-tag"></i> {{ tagInfo[0] }}</p>
            </h3>
          {% endif %}
        </div>
        {% if stage=="input" %}
          <div class="form-group row align-items-right justify-content-right">
            <div class="col-md-10">
              <h5>
                <font color="#ff0000"
                  ><i class="fa fa-remove "></i> Cannot use single- and double-quotations as a part of the tag name</font
                >
              </h5>
            </div>
          </div>
        {% endif %}
        <div class="form-group row align-items-right justify-content-right">
          <div class="col-md-10">
            {% if stage == "input" %}
              <button type="submit" class="btn btn-primary" name="stage" value="confirm">Proceed</button>
            {% elif stage == "confirm" %}
              <button type="submit" class="btn btn-primary" name="stage" value="request">Create</button>
              <button type="submit" class="btn btn-primary" name="stage" value="input">Back page</button>
            {% endif %}
          </div>
        </div>
      </form>
    </div>
  {% endif %}
  <br />
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col">
        <a href="/localdb/">Back to Top Page</a>
      </div>
    </div>
  </div>
{% endblock %}
