<style>
  table.toppage {
    table-layout: fixed;
  }
  table.toppage th {
    text-align: center;
    vertical-align: middle;
  }
  table.toppage td {
    text-align: center;
    vertical-align: middle;
    border: 2px dotted #e1e1e1;
  }
  table.toppage td.border_inner {
    border-right-width: 2px;
    border-right-style: dotted;
    border-right-color: #e1e1e1;
  }
</style>
{% extends "layout.html" %}

{% block body %}
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col">
        <h1 style="margin-top: 0.5%; margin-bottom: 0%; font-size: 150%;">
          <a href="/localdb/" style="color:rgba(0, 0, 0, 0.648);;">Top Page</a> > Customize QC menu
        </h1>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col">
        <h1>
          <font color="#000080"><i class="fa fa-download"></i> Customize QC menu</font>
        </h1>

        <p>
          Description: With this interface, you can edit the required tests for components to fit with your site's procedure of the
          production QC flow.
        </p>
      </div>
    </div>
  </div>

  <br />

  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col">
        <form class="form-horizontal" role="form" method="post" action="{{ url_for('user_api.customize_qc') }}" accept-charset="UTF-8">
          <br /><br />
          <div class="form-group row" style="width: 100%;">
            {% if input_step  == "select_ctype" %}
              <label class="col-form-label col-md-2" for="institution_code">Component Type<font color="#ff0000">*</font></label>
              <div class="col-md-10">
                <select class="form-control" name="selected_ctype" id="selected_ctype" required="required" onchange="this.form.submit()">
                  <option value="" disabled="disabled" selected="selected">Choose a component type...</option>
                  {% for ctype in ctypes %}
                    <option value="{{ ctype }}">{{ ctype }}</option>
                  {% endfor %}
                </select>
                <input type="hidden" name="input_step" id="input_step" value="user_input" />
              </div>
            {% elif input_step  == "user_input" %}
              <div class="col-md-10">
                <h2>Configuring {{ stage_doc["name"] }} QC Menu</h2>
                {% set stages = stage_doc["stage_flow"] %}
                {% set alternative_stages = stage_doc["alternatives"] %}
              </div>
              <div class="col-md-10" style="margin-top: 3em;">
                <h3><i class="fa fa-cogs"></i> Standard Stages</h3>
              </div>
              <div class="col-md-10" style="font-size: 150%;">
                {% for stage in stages %}
                  {% if not stage in alternative_stages %}
                    {% if stage_doc["disabled_tests"] and stage_doc["disabled_tests"][stage] and stage_doc["disabled_tests"][stage]["disabled"] %}
                      {% set stage_disabled = stage_doc["disabled_tests"][stage]["disabled"] %}
                    {% else %}
                      {% set stage_disabled = 0 %}
                    {% endif %}
                    <input
                      type="checkbox"
                      name="enable_{{ stage }}"
                      id="enable_{{ stage }}"
                      {% if stage_disabled == 0 %}checked{% endif %}
                    />
                    <label for="enable_{{ stage }}"><i class="fa fa-cubes"></i> Stage:: {{ stage }}</label>
                    <br />
                    {% for test in stage_doc["stage_test"][stage] %}
                      <input
                        type="checkbox"
                        name="enable_{{ stage }}_{{ test }}"
                        id="enable_{{ stage }}_{{ test }}"
                        {% if stage in stage_doc["disabled_tests"] and test in stage_doc["disabled_tests"][stage]["tests"] or stage_disabled %}{% else %}checked{% endif %}
                        style="margin-left: 3em;"
                      />
                      <label for="enable_{{ stage }}_{{ test }}"><i class="fa fa-file-text-o"></i> Test:: {{ test }}</label>
                      <br />
                    {% endfor %}
                    <hr />
                  {% endif %}
                {% endfor %}
              </div>

              <div class="col-md-10" style="margin-top: 3em;">
                <h3><i class="fa fa-cogs"></i> Alternative Stages</h3>
              </div>
              <div class="col-md-10" style="font-size: 150%;">
                {% for stage in alternative_stages %}
                  {% if stage_doc["disabled_tests"] and stage_doc["disabled_tests"][stage] and stage_doc["disabled_tests"][stage]["disabled"] %}
                    {% set stage_disabled = stage_doc["disabled_tests"][stage]["disabled"] %}
                  {% else %}
                    {% set stage_disabled = 0 %}
                  {% endif %}
                  <input type="checkbox" name="enable_{{ stage }}" id="enable_{{ stage }}" {% if stage_disabled == 0 %}checked{% endif %} />
                  <label for="enable_{{ stage }}"><i class="fa fa-cubes"></i> Stage:: {{ stage }}</label>
                  <br />
                  {% for test in stage_doc["stage_test"][stage] %}
                    <input
                      type="checkbox"
                      name="enable_{{ stage }}_{{ test }}"
                      id="enable_{{ stage }}_{{ test }}"
                      {% if ("disabled_tests" in stage_doc and stage in stage_doc["disabled_tests"] and test in stage_doc["disabled_tests"][stage]["tests"]) or stage_disabled %}{% else %}checked{% endif %}
                      style="margin-left: 3em;"
                    />
                    <label for="enable_{{ stage }}_{{ test }}"><i class="fa fa-file-text-o"></i> Test:: {{ test }}</label>
                    <br />
                  {% endfor %}
                  <hr />
                {% endfor %}
              </div>

              <div class="col-md-10">
                <input type="hidden" name="selected_ctype" id="selected_ctype" value="{{ selected_ctype }}" />
                <button type="submit" class="btn btn-primary" name="input_step" value="submit">Submit</button>
              </div>
            {% endif %}
          </div>
        </form>
      </div>
    </div>
  </div>

  <br />
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col">
        <a href="/localdb/">Back to Top Page</a>
      </div>
    </div>
  </div>
{% endblock %}
