<style>
  a.data:link {
    color: #3cb371;
  }
  a.data:visited {
    color: #3cb371;
  }
  a.data:hover {
    color: #ff8c00;
  }
  a.data:active {
    color: #dc143c;
  }
  th {
    background-color: #eeeeff;
  }
  .bg-warning th {
    background-color: transparent;
  }
</style>
{% extends "layout.html" %}
{% block body %}
  <div class="container">
    <div class="row align-items-top justify-content-left">
      <div class="col">
        <h1 style="margin-top: 20px;">{{ m_doc['config_info']['serialNumber'] }} Chip Configuration</h1>
        <h2>Stage: {{ m_doc['config_info']['stage'] | safe }}</h2>
        <h2>Branch: {{ m_doc['config_info']['branch'] | safe }}</h2>
        <h2>Config: {{ m_doc['configId'] | safe }}</h2>
        <h4>
          This Revision:
          <a
            class="data"
            href="{{ url_for('config_api.show_config', configId=m_doc['configId'], revision=m_doc['revision']) }}"
            target="_blank"
            rel="noopener noreferrer"
            title="Display Config"
            ><i class="fa fa-external-link-square"></i> {{ m_doc['revision'] | safe }}</a
          >
        </h4>
        <h4>
          Latest Revision:
          <a
            class="data"
            href="{{ url_for('config_api.show_config', configId=m_doc['configId'], revision=m_doc['config_info']['current_revision_id']) }}"
            target="_blank"
            rel="noopener noreferrer"
            title="Display Config"
            ><i class="fa fa-external-link-square"></i> {{ m_doc['config_info']['current_revision_id'] | safe }}</a
          >
        </h4>
      </div>
    </div>

    <div class="col align-items-top justify-content-left" style="margin-top: 20px">
      <h2><i class="fa fa-table"></i> Global Config</h2>
      <table>
        <tr>
          {% for chunk in m_doc['config_global_html'] %}
            <td style="vertical-align:top;">{{ chunk | safe }}</td>
          {% endfor %}
        </tr>
      </table>
    </div>

    <div class="col align-items-top justify-content-left" style="margin-top: 20px">
      <h2><i class="fa fa-table"></i> Parameter</h2>
      <table>
        <tr>
          {% for chunk in m_doc['config_param_html'] %}
            <td style="vertical-align:top;">{{ chunk | safe }}</td>
          {% endfor %}
        </tr>
      </table>
    </div>

    <div class="col align-items-top justify-content-left" style="margin-top: 20px">
      <h2><i class="fa fa-table"></i> PixelConfig</h2>
      {% for key in m_doc['pixelData'] %}
        <a href="{{ m_doc['pixelData'][key] }}"><img src="{{ m_doc['pixelData'][key+'_thumb'] }}" /></a>
      {% endfor %}
    </div>

    <div class="col align-items-top justify-content-left" style="margin-top: 20px">
      <h2>
        <i class="fa fa-table"></i> Diff from previous revision
        <a href="{{ url_for('config_api.show_config', configId = m_doc['configId'], revision = m_doc['prev_revision'] ) }}"
          >{{ m_doc['prev_revision'] }}</a
        >
      </h2>
      {{ m_doc['diff_html'] | safe }}
    </div>
  </div>
{% endblock %}
