<style>
  table.toppage {
    table-layout: fixed;
  }
  table.toppage th {
    text-align: center;
    vertical-align: middle;
  }
  table.toppage td {
    text-align: center;
    vertical-align: middle;
    border: 2px dotted #e1e1e1;
  }
  table.toppage td.border_inner {
    border-right-width: 2px;
    border-right-style: dotted;
    border-right-color: #e1e1e1;
  }
</style>
{% extends "layout.html" %}

{% block body %}
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col">
        <h1 style="margin-top: 0.5%; margin-bottom: 0%; font-size: 150%;">
          <a href="/localdb/" style="color:rgba(0, 0, 0, 0.648);;">Top Page</a> > Download information from ITkPD
        </h1>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col">
        <h1>
          <font color="#000080"><i class="fa fa-download"></i>Download institutions and module types from ITkPD</font>
        </h1>
      </div>
    </div>
  </div>

  <br />

  {% if stage == "complete" %}
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col">
          <h4>Successfully downloaded.</h4>
        </div>
      </div>
    </div>
  {% else %}
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col">
          <h3>Please input 2 access codes for ITkPD</h3>
          <h3>You will download lists of institutions and module types</h3>
          <br />
          <form class="form-horizontal" role="form" method="post" action="{{ url_for('user_api.download_pdinfo') }}" accept-charset="UTF-8">
            <div class="form-group row">
              <label class="col-form-label col-md-3">Access code 1<font color="#ff0000">*</font></label>
              <div class="col-md-9">
                <input
                  type="password"
                  class="form-control"
                  value="{{ code1 }}"
                  placeholder="Access code 1"
                  name="code1"
                  required="required"
                />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-form-label col-md-3">Access code 2<font color="#ff0000">*</font></label>
              <div class="col-md-9">
                <input
                  type="password"
                  class="form-control"
                  value="{{ code2 }}"
                  placeholder="Access code 2"
                  name="code2"
                  required="required"
                />
              </div>
            </div>
            {% if not text == '' %}
              <div class="col-md-2"></div>
              <div class="col-md-10"><font color="#ff0000">{{ text }}</font></div>
            {% endif %}

            <div class="form-group row">
              <label class="col-form-label col-md-3"></label>
              <div class="col-md-9">
                <button type="submit" class="btn btn-primary" name="stage" value="complete">Download</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  {% endif %}

  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col">
        <a href="/localdb/">Back to Top Page</a>
      </div>
    </div>
  </div>

  <br />
{% endblock %}
