{% extends "layout.html" %}

{% block body %}
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col">
        <h3>{{ txt }}</h3>
      </div>
    </div>
  </div>
{% endblock %}
