{% extends "layout.html" %}

{% block body %}
  <div class="container">
    <div class="text-left">
      <h2>History of Module {{ moduleName }}</h2>
      <button class="btn btn-primary" type="button" onclick="location.href='{{ mainlink }}'" style="float: left">Make All</button>
    </div>

    <div id="accordion">
      <div style="margin-bottom: 50px;"></div>

      {% for test,figures in histories.items() %}
        <div class="card">
          <div class="card-header" id="heading-{{ test }}">
            <button
              class="btn btn-link"
              data-toggle="collapse"
              data-target="#collapse-{{ test }}"
              aria-expanded="true"
              aria-controls="collapse-{{ test }}"
            >
              <h3>{{ testnames[test] }}</h3>
              <button class="btn btn-primary" type="button" onclick="location.href='{{ remakeLinks[test] }}'" style="float:right">
                {{ buttonNames[test] }}
              </button>
            </button>
            <div id="collapse-{{ test }}" class="collapse" aria-labelledby="heading-{{ test }}">
              <div class="card-body">
                {% for figname in figures %}
                  <img src="{{ figname }}" alt="{{ figname }}" width="600" height="450" /><br />
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
