<!doctype html>
<html lang="en">
  <head>
    {% include "parts/head.html" %}
    {% block stylesheet %}
    {% endblock %}
  </head>

  <body data-spy="scroll" data-target="#pb-navbar" data-offset="200">
    {% include "parts/nav.html" %}
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col">
              {% for category, message in messages %}
                <div class="alert alert-{{ category }} text-center alert-dismissible fade show m-auto">{{ message }}</div>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endif %}
    {% endwith %}

    {% block body %}
    {% endblock %}
    <footer class="bg-light" role="contentinfo">{% include "parts/footer.html" %}</footer>
    {% include "parts/loader.html" %}
    {% block javascript %}
    {% endblock %}
  </body>
</html>
