<style>
  th {
    background-color: #eeeeff;
  }
</style>
{% extends "layout.html" %}

{% block body %}
  <div class="container">
    {% include 'parts/showMessages.html' %}

    <div class="row align-items-center justify-content-center">
      <div class="col">
        <h1>QC Tests</h1>
        <h4>(Only displaying QC Tests of the current stage)</h4>
        <form class="form-horizontal" role="form" method="post" action="{{ url_for('qc_api.qc_tests') }}" accept-charset="UTF-8">
          <h5>
            Module SN: <input type="search" name="keyword" value="{{ table_docs['search_phrase'] }}" placeholder="20U..." />
            <button type="submit" class="btn btn-primary" style="padding-top: 0.05%; padding-bottom: 0.05%;">Search</button>
          </h5>
        </form>
      </div>

      <div class="container">
        <div class="row align-items-left justify-content-left">
          <div class="col">
            <table class="table table-bordered" style="font-size: 10pt;">
              <thead>
                <tr>
                  <th style="word-wrap:break-word; text-align:center;">Module</th>
                  <th style="word-wrap:break-word; text-align:center;">Test Type</th>
                  <th style="word-wrap:break-word; text-align:center;">Component SN</th>
                  <th style="word-wrap:break-word; text-align:center;">Timestamp</th>
                  <th style="word-wrap:break-word; text-align:center;">TestRun</th>
                  <th style="word-wrap:break-word; text-align:center;">QC Passed</th>
                  <th style="word-wrap:break-word; text-align:center;">Analysis Version</th>
                </tr>
              </thead>
              <tbody>
                {% for module_tests in tests %}
                  {% set moduleLoop = loop %}
                  {% set moduleInfo = module_tests['moduleInfo'] %}

                  {% for testType in module_tests['testTypes'] %}
                    {% set testTypeLoop = loop %}
                    {% set testSize = module_tests['testTypes'][testType] %}

                    {% for subcpt in module_tests['subComponents'] %}
                      {% set chipLoop = loop %}
                      {% for test in subcpt['tests'] %}
                        {% set testLoop = loop %}
                        {% if test['testType'] == testType %}
                          <tr>
                            {% if testLoop.index0 == 0 and testTypeLoop.index0 == 0 and chipLoop.index0 == 0 %}
                              <td rowspan="{{ moduleInfo['testCount'] }}">
                                <a href="{{ url_for('component_api.show_component', id=moduleInfo['_id']) }}"
                                  >{{ moduleInfo['delim_sn'] }}</a
                                >
                                <br />
                                <span style="color: #ccc;">{{ moduleInfo['typeInfo'] }}</span><br /><br />
                                Current Stage:<br />{{ moduleInfo['stage'] }}
                              </td>
                            {% endif %}

                            {% if test['table_index'] == 0 %}
                              <td rowspan="{{ testSize }}">{{ test['testType'] }}</td>
                            {% endif %}

                            <td>
                              <a href="{{ url_for('component_api.show_component', id=subcpt['_id']) }}">{{ subcpt['delim_sn'] }}</a>
                              <br />
                              <span style="color: #ccc;">{{ subcpt['typeInfo'] }}</span>
                            </td>
                            <td>{{ test['timestamp'] }}</td>
                            <td>
                              <a href="{{ url_for('component_api.show_component', id=subcpt['_id'], test='qctest', runId=test['_id']) }}"
                                >{{ test['_id'] }}</a
                              >
                            </td>
                            <td>
                              {% if test['passed'] %}
                                <badge class="badge-pill badge-success">Passed</badge>
                              {% else %}
                                <badge class="badge-pill badge-dark">Failed</badge>
                              {% endif %}
                            </td>
                            <td>
                              {% if 'property' in test['results'] %}{{ test['results']['property']['ANALYSIS_VERSION'] }}{% elif 'properties' in test['results'] %}{{ test['results']['properties']['ANALYSIS_VERSION'] }}{% else %}N/A{% endif %}
                            </td>
                          </tr>
                        {% endif %}
                      {% endfor %}
                    {% endfor %}
                  {% endfor %}
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
