<style>
  table.toppage {
    table-layout: fixed;
  }
  table.toppage th {
    text-align: center;
    vertical-align: middle;
  }
  table.toppage td {
    text-align: center;
    vertical-align: middle;
    border: 2px dotted #e1e1e1;
  }
  table.toppage td.border_inner {
    border-right-width: 2px;
    border-right-style: dotted;
    border-right-color: #e1e1e1;
  }
</style>
{% extends "layout.html" %}

{% block body %}
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col">
        <h1 style="margin-top: 0.5%; margin-bottom: 0%; font-size: 150%;">
          <a href="/localdb/" style="color:rgba(0, 0, 0, 0.648);">Top Page</a> >
          <a href="/localdb/components" style="color:rgba(0, 0, 0, 0.648);">Component List</a> >
          <a href="{{ url_for('component_api.show_component', id=component['module']['_id'] ) }}" style="color:rgba(0, 0, 0, 0.648);"
            >{{ component["module"]["name"] }}</a
          >
          > Re-arrange chip IDs
        </h1>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col">
        <h1>Re-arreage geometrical IDs (chip ID)</h1>
      </div>
    </div>
  </div>

  <br />

  {% if stage == "complete" %}
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col">
          <br />
          <h4>Successfully registered.</h4>
          <a href="{{ url_for('toppage_api.show_comps') }}"><h5 style="font-size: 12pt;">Go to the component summary page</h5></a>
        </div>
      </div>
    </div>
  {% else %}
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col">
          {% if component %}
            Module:{{ component["module"]["name"] }}
            <form
              class="form-horizontal"
              role="form"
              method="post"
              action="{{ url_for('user_api.register_chipid', module=module) }}"
              accept-charset="UTF-8"
            >
              {% for chip in component["chips"] %}
                <div class="form-group row">
                  <label class="col-form-label col-md-3">Front-end chip:{{ chip["name"] }}<font color="#ff0000">*</font></label>
                  <div class="col-md-9">
                    <input
                      type="number"
                      max="10"
                      class="form-control"
                      value="{{ chip["chipId"] }}"
                      placeholder="Chip Id"
                      name="chipid"
                      required="required"
                    />
                  </div>
                </div>
              {% endfor %}
              <div class="form-group row">
                <label class="col-form-label col-md-3"></label>
                <div class="col-md-9">
                  <button type="submit" class="btn btn-primary" name="stage" value="complete">Register</button>
                </div>
              </div>
            </form>
            {% if component["picture"] %}
              <div align="center">
                <img src="{{ component["picture"] }}" title="Map" width="400" height="400" />
              </div>
            {% endif %}
          {% else %}
            <h4>The downloading process have not been finished. Try again.</h4>
            <a href="{{ url_for('user_api.register_chipid', module=module) }}"><h5 style="font-size: 12pt;">Register ChipId</h5></a>
          {% endif %}
        </div>
      </div>
    </div>
  {% endif %}

  <br />
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col">
        <h5><a href="{{ url_for('component_api.show_component', id=component['module']['_id'] ) }}">Back to the component page</a></h5>
      </div>
    </div>
  </div>

  <br />
{% endblock %}
