{% extends "layout.html" %}

{% block body %}
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col">
        <h1 style="margin-top: 0.5%; margin-bottom: 0%; font-size: 150%;">
          <a href="/localdb/" style="color:rgba(0, 0, 0, 0.648);;">Top Page</a> > Set(Reset) your password
        </h1>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col">
        <h1>
          <font color="#000080"><i class="fa fa-refresh "></i> Set(Reset) your password</font>
        </h1>
      </div>
    </div>
  </div>

  {% if stage == "request" %}
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col">
          <h3>Thank you for setting your password.</h3>
        </div>
      </div>
    </div>
  {% else %}
    <div class="container">
      <h3><p>You can set your password.</p></h3>
      <font color="#ff0000" size="2">* Required</font>

      <form class="form-horizontal" role="form" method="post" action="register_password" accept-charset="UTF-8">
        <div class="form-group row">
          <label class="col-form-label col-md-3" for="name">User Name<font color="#ff0000">*</font></label>
          <div class="col-md-9">
            {% if stage == "input" %}
              <input
                type="text"
                class="form-control"
                value="{{ userInfo[0] }}"
                placeholder="Input a user name"
                name="userinfo"
                id="name"
                required="required"
              />
            {% elif stage == "confirm" %}
              <input type="hidden" value="{{ userInfo[0] }}" name="userinfo" />
              <p>{{ userInfo[0] }}</p>
            {% endif %}
          </div>
          {% if not nametext == _brank %}
            <div class="col-md-3"></div>
            <div class="col-md-9"><font color="#ff0000">{{ nametext }}</font></div>
          {% endif %}
        </div>

        <div class="form-group row">
          <label class="col-form-label col-md-3">Email<font color="#ff0000">*</font></label>
          <div class="col-md-9">
            {% if stage == "input" %}
              <input type="text" class="form-control" value="{{ userInfo[1] }}" placeholder="Email" name="userinfo" required="required" />
            {% elif stage == "confirm" %}
              <input type="hidden" value="{{ userInfo[1] }}" name="userinfo" />
              <p>{{ userInfo[1] }}</p>
            {% endif %}
          </div>
          {% if not nametext2 == _brank %}
            <div class="col-md-3"></div>
            <div class="col-md-9"><font color="#ff0000">{{ nametext2 }}</font></div>
          {% endif %}
        </div>

        {% if stage == "confirm" %}
          <div class="form-group row">
            <label class="col-form-label col-md-3">Current Password<font color="#ff0000">*</font></label>
            <div class="col-md-9">
              <input
                type="password"
                class="form-control"
                value="{{ userInfo[2] }}"
                placeholder="Current password"
                name="userinfo"
                minlength="8"
                required="required"
              />
              The password was sent to your email address or was issued by LocalDB admin.
            </div>
            {% if not nametext3 == _brank %}
              <div class="col-md-3"></div>
              <div class="col-md-9"><font color="#ff0000">{{ nametext3 }}</font></div>
            {% endif %}
          </div>
          <div class="form-group row">
            <label class="col-form-label col-md-3">New password<font color="#ff0000">*</font></label>
            <div class="col-md-9">
              <input
                type="password"
                class="form-control"
                value="{{ userInfo[3] }}"
                placeholder="New password"
                minlength="8"
                name="userinfo"
                required="required"
              />
              8 characters or more.
            </div>
          </div>
          <div class="form-group row">
            <label class="col-form-label col-md-3">New password(Confirm)<font color="#ff0000">*</font></label>
            <div class="col-md-9">
              <input
                type="password"
                class="form-control"
                value="{{ userInfo[4] }}"
                placeholder="New password(Confirm)"
                minlength="8"
                name="userinfo"
                required="required"
              />
            </div>
            {% if not nametext4 == _brank %}
              <div class="col-md-3"></div>
              <div class="col-md-9"><font color="#ff0000">{{ nametext4 }}</font></div>
            {% endif %}
          </div>
        {% endif %}

        <div class="form-group row">
          <label class="col-form-label col-md-3"></label>
          <div class="col-md-9">
            {% if stage == "input" %}
              <button type="submit" class="btn btn-primary" name="stage" value="confirm">Proceed</button>
            {% elif stage == "confirm" %}
              <button type="submit" class="btn btn-primary" name="stage" value="request">Register</button>
            {% endif %}
          </div>
        </div>
      </form>
    </div>
  {% endif %}

  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col">
        <a href="/localdb/">Back to Top Page</a>
      </div>
    </div>
  </div>

  <br />
{% endblock %}
