<style>
  table.toppage {
    table-layout: fixed;
  }
  table.toppage th {
    text-align: center;
    vertical-align: middle;
  }
  table.toppage td {
    text-align: center;
    vertical-align: middle;
    border: 2px dotted #e1e1e1;
  }
  table.toppage td.border_inner {
    border-right-width: 2px;
    border-right-style: dotted;
    border-right-color: #e1e1e1;
  }
</style>
{% extends "layout.html" %}

{% block body %}
  <style>
    @keyframes fadeOut {
      from {
        opacity: 1;
      }

      to {
        display: none;
        opacity: 0;
        z-index: -1;
      }
    }

    #loader {
      width: 100%;
      height: 100vh;
      background-color: #00c2bc;
    }

    #loader.loaded {
      animation: fadeOut 3s forwards;
    }

    .spinner {
      margin: 0 auto;
      width: 40px;
      height: 40px;
      position: relative;
      top: 50%;
    }

    .cube1,
    .cube2 {
      background-color: #ffffff;
      width: 15px;
      height: 15px;
      position: absolute;
      top: 0;
      left: 0;

      -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
      animation: sk-cubemove 1.8s infinite ease-in-out;
    }

    .cube2 {
      -webkit-animation-delay: -0.9s;
      animation-delay: -0.9s;
    }

    @-webkit-keyframes sk-cubemove {
      25% {
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
      }
      50% {
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
      }
      75% {
        -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
      }
      100% {
        -webkit-transform: rotate(-360deg);
      }
    }

    @keyframes sk-cubemove {
      25% {
        transform: translateX(42px) rotate(-90deg) scale(0.5);
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
      }
      50% {
        transform: translateX(42px) translateY(42px) rotate(-179deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
      }
      50.1% {
        transform: translateX(42px) translateY(42px) rotate(-180deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
      }
      75% {
        transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
        -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
      }
      100% {
        transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
      }
    }
  </style>

  <style type="text/css">
    .balloonoya {
      position: relative; /* 指定した分だけ相対的に移動 */
    }
    .balloonoya:hover .balloon {
      display: inline; /* インライン要素として表示 */
    }
    .balloon {
      position: absolute; /* 親要素を基準 */
      display: none; /* 要素を非表示 */
      padding: 2px; /* テキストの前後の余白 */
      background-color: rgba(102, 102, 255, 0.5); /* 背景色（透明度） */
      width: 180px; /* 吹き出し全体の幅 */
      right: -1%; /* 表示位置 */
      font-size: 80%; /* 文字サイズ */
    }
    .balloon:after {
      border-right: 12px solid rgba(102, 102, 255, 0.5); /* 吹き出し口の幅・色 */
      border-top: 10px solid transparent; /* 吹き出し口の高さ１／２ */
      border-bottom: 10px solid transparent; /* 吹き出し口の高さ１／２ */
      left: -12px; /* 吹き出し口の位置調整 */
      top: 5%; /* 吹き出し口の縦位置 */
      content: ""; /* コンテンツの挿入 */
      position: absolute; /* 親要素を基準 */
    }
  </style>

  <script>
    window.onload = () => {
      const loader = document.getElementById("loader");
      loader.classList.add("loaded");
    };
  </script>

  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col">
        <h1 style="margin-top: 0.5%; margin-bottom: 0%; font-size: 150%;">
          <a href="/localdb/" style="color:rgba(0, 0, 0, 0.648);">Top Page</a> >
          <a href="/localdb/components" style="color:rgba(0, 0, 0, 0.648);">Component List</a> >
          <a href="{{ url_for('component_api.show_component', id=doc['_id']) }}" style="color:rgba(0, 0, 0, 0.648);">Component</a>
          {% if "upload" in doc['mode'] %}
            >
            <a href="{{ url_for('qc_api.result_transceiver', module=doc['mname'], mode='select' ) }}" style="color:rgba(0, 0, 0, 0.648);"
              >Upload/Download results</a
            >
            > Upload results
          {% elif "download" in doc['mode'] %}
            >
            <a href="{{ url_for('qc_api.result_transceiver', module=doc['mname'], mode='select' ) }}" style="color:rgba(0, 0, 0, 0.648);"
              >Upload/Download results</a
            >
            > Download results
          {% else %}
            > Upload/Download results
          {% endif %}
        </h1>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col">
        <h1>Upload/Download QC-test results to/from ITkPD</h1>
        {% if doc['mname'] %}
          <h2>Module SN: {{ doc['mname'] }}</h2>
        {% endif %}
      </div>
    </div>
    <br />

    {% if doc['mode'] == "select" %}
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col">
            <h4>Please select upload/download.</h4>
            {% if doc["upload_summary"] %}
              <form
                style="margin-bottom: 0px;"
                class="form-horizontal"
                name="formA"
                role="form"
                method="post"
                action="{{ url_for('qc_api.result_transceiver', module=doc['mname'], mode=doc['mode'] ) }}"
                accept-charset="UTF-8"
              >
                <input type="hidden" name="mode" value="upload_input" />
                <h3 style="margin-left: 10px; margin-top: 15px;">
                  <a href="javascript:void(0)" onclick="document.formA.submit();return false;"
                    ><i class="fa fa-upload "></i> Upload tests locally signed-off to ITkPD</a
                  >
                </h3>
              </form>
            {% else %}
              <h3 style="margin-left: 10px; margin-top: 15px; color: #666666;">
                <i class="fa fa-upload "></i> Upload tests locally signed-off to ITkPD
              </h3>
              <h5 style="margin-left: 30px; margin-bottom: 15px; color: red;">
                <i class="fa fa-exclamation-triangle "></i> Please sign-off results before uploading results!
              </h5>
            {% endif %}
            <form
              class="form-horizontal"
              name="formB"
              role="form"
              method="post"
              action="{{ url_for('qc_api.result_transceiver', module=doc['mname'], mode=doc['mode'] ) }}"
              accept-charset="UTF-8"
            >
              <h3 style="margin-left: 10px;">
                <a href="javascript:void(0)" onclick="document.formB.submit();return false;"
                  ><i class="fa fa-download "></i> Download past stages' tests from ITkPD</a
                >
              </h3>
              <input type="hidden" name="mode" value="download_input" />
            </form>

            <h5><a href="{{ url_for('component_api.show_component', id=doc['_id']) }}">Back to the component page</a></h5>
          </div>
        </div>
      </div>
    {% elif doc['mode'] == "upload_input" %}
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col">
            <form
              class="form-horizontal"
              role="form"
              method="post"
              action="{{ url_for('qc_api.result_transceiver', module=doc['mname'] ) }}"
              accept-charset="UTF-8"
            >
              {% if doc["upload_summary"] %}
                <h3><i class="fa fa-check-circle-o "></i> Please confirm QC results you will upload to ITkPD.</h3>
                <br />
                <h4><i class="fa fa-file"></i> List of stages waiting for submission</h4>
                {% for stage in doc["upload_summary"] %}
                  <div class="align-items-top card-body">
                    <h5 style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> {{ doc['stageInfo']['stages'][stage] }}</h5>
                    {% if doc["upload_summary"][stage] |length == 0 %}
                      <p class="col" style="color: red;">No tests are defined for this stage.</p>
                    {% endif %}
                    <table class="table table-sm table-bordered table-striped" style="font-size: 10pt;">
                      {% if doc["upload_summary"][stage] |length > 0 %}
                        <thead class="table-light">
                          <tr>
                            <th class="text-left" style="width: 40%;">Test Name</th>
                            <th class="text-left">Test Record Link</th>
                          </tr>
                        </thead>
                      {% endif %}
                      <tbody>
                        {% for scan in doc["upload_summary"][stage] %}
                          {% if doc["upload_summary"][stage][scan] != "-1" %}
                            <tr>
                              <td align="left" style="word-wrap:break-word;">{{ scan }}</td>
                              <td align="left">
                                <a
                                  href="{{ url_for('component_api.show_component', id=doc['_id'], test='qctest' , runId=doc['upload_summary'][stage][scan]) }}"
                                  >{{ doc["upload_summary"][stage][scan] }}</a
                                >
                              </td>
                            </tr>
                          {% else %}
                            <tr style="font-weight: bold;">
                              <td align="left" style="word-wrap:break-word;">{{ scan }}</td>
                              <td align="left" class="bg-warning text-dark">No Result</td>
                            </tr>
                          {% endif %}
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                {% endfor %}
                <hr />

                <h4>Please input 2 access codes for ITkPD.</h4>
                <h4>If you push the button, you will upload all selected results for this module.</h4>
                <br />
                <div class="form-group row">
                  <label class="col-form-label col-md-1">Access code 1<font color="#ff0000">*</font></label>
                  <div class="col-md-9">
                    <input
                      type="password"
                      class="form-control"
                      value="{{ code1 }}"
                      placeholder="Access code 1"
                      name="code1"
                      required="required"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-form-label col-md-1">Access code 2<font color="#ff0000">*</font></label>
                  <div class="col-md-9">
                    <input
                      type="password"
                      class="form-control"
                      value="{{ code2 }}"
                      placeholder="Access code 2"
                      name="code2"
                      required="required"
                    />
                  </div>
                </div>
                {% if not doc["text"] == '' %}
                  <div class="form-group row">
                    <label class="col-form-label col-md-3"></label>
                    <div class="col-md-9">
                      <h5>
                        <font color="#ff0000"><i class="fa fa-warning "></i> {{ doc["text"] }}</font>
                      </h5>
                    </div>
                  </div>
                {% endif %}

                <div class="form-group row">
                  <div class="col-form-label col-md-1"></div>
                  <div class="col-md-9">
                    <button type="submit" class="btn btn-primary" name="mode" value="upload_complete">
                      Upload results to ProductionDB
                    </button>
                    <div id="overlay">
                      <div class="cv-spinner">
                        <span class="spinner"></span>
                      </div>
                    </div>
                  </div>
                </div>
              {% else %}
                <h4 class="text-danger">Oops, there is no result you can upload!</h4>
                {% if doc['uploaded_stage'] %}
                  <h4>The following stages have been already uploaded to ProductionDB:</h4>
                  <ul class="list-group">
                    {% for item in doc['uploaded_stage'] %}
                      <li class="list-group-item"><i class="fa fa-check-circle-o "></i> {{ item }}</li>
                    {% endfor %}
                  </ul>
                {% endif %}

                <h4>To proceed, please sign-off a new stage</h4>
              {% endif %}
            </form>
            <h5><a href="{{ url_for('component_api.show_component', id=doc['_id']) }}">Back to the component page</a></h5>
          </div>
        </div>
      </div>
    {% elif doc['mode'] == "download_input" %}
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col">
            <form
              class="form-horizontal"
              role="form"
              method="post"
              action="{{ url_for('qc_api.result_transceiver', module=doc['mname'], mode=doc['mode'] ) }}"
              accept-charset="UTF-8"
            >
              <h4>Please input 2 access codes for ITkPD.</h4>
              <h4>If you push the button, you will download results for this module stored in ITkPD.</h4>
              <h4>
                <font color="#ff0000"><i class="fa fa-clock-o "></i> It takes 1-5 min to download results. Please wait a moment...</font>
              </h4>
              <br />
              <div class="form-group row">
                <label class="col-form-label col-md-1">Access code 1<font color="#ff0000">*</font></label>
                <div class="col-md-9">
                  <input
                    type="password"
                    class="form-control"
                    value="{{ code1 }}"
                    placeholder="Access code 1"
                    name="code1"
                    required="required"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-form-label col-md-1">Access code 2<font color="#ff0000">*</font></label>
                <div class="col-md-9">
                  <input
                    type="password"
                    class="form-control"
                    value="{{ code2 }}"
                    placeholder="Access code 2"
                    name="code2"
                    required="required"
                  />
                </div>
              </div>
              {% if not doc["text"] == '' %}
                <div class="form-group row">
                  <label class="col-form-label col-md-1"></label>
                  <div class="col-md-9">
                    <h5>
                      <font color="#ff0000"><i class="fa fa-warning "></i> {{ doc["text"] }}</font>
                    </h5>
                  </div>
                </div>
              {% endif %}

              <div class="form-group row">
                <div class="col-form-label col-md-1"></div>
                <div class="col-md-9">
                  <button type="submit" class="btn btn-primary" name="mode" value="download_complete">Download results</button>
                </div>
              </div>
            </form>
            <br />
            <h5><a href="{{ url_for('component_api.show_component', id=doc['_id']) }}">Back to the component page</a></h5>
          </div>
        </div>
      </div>
    {% elif doc['mode'] == "upload_complete" %}
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col">
            <h3>Uploading process is running on background!</h3>
            <h3>
              <a href="https://itkpd-test.unicorncollege.cz/myTests" target="_blank" rel="noopener noreferrer"
                >You can check the uploaded results in ITkPD</a
              >
            </h3>

            <h5><a href="{{ url_for('component_api.show_component', id=doc['_id']) }}">Back to the component page</a></h5>
          </div>
        </div>
      </div>
    {% elif doc['mode'] == "download_complete" %}
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col">
            {% if doc["download_list"] %}
              <h3>Download has finished!</h3>
              <h4><i class="fa fa-file"></i> List of downloaded QC-test results</h4>
              <div class="row align-items-top card-body">
                <table id="qcTable" class="table table-sm table-hover table-bordered" style="font-size: 8pt;">
                  <thead>
                    <tr>
                      <th class="text-left">Link</th>
                      <th class="text-left">Test Name</th>
                      <th class="text-left">Stage</th>
                      <th class="text-left">Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for run in doc["download_list"] %}
                      <tr>
                        <td align="left">
                          <a href="{{ url_for('component_api.show_component', id=doc['_id'], test='qctest' , runId=run['_id']) }}"
                            >{{ run['_id'] }}</a
                          >
                        </td>
                        <td align="left" style="word-wrap:break-word;">{{ run['testType'] }}</td>
                        <td align="left">{{ run['stage'] }}</td>
                        <td align="left">{{ run['date'] }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>

              {% if doc["download_list"] %}
                <h4><i class="fa fa-file"></i> Associated scans for QC-test results</h4>
              {% endif %}
              {% for run in doc["download_list"] %}
                {% if run["scans"]["scans"] %}
                  <div class="row align-items-top card-body">
                    <h5 style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> {{ run["testType"] }}: {{ run["stage"] }}</h5>
                    <table class="table table-sm table-bordered" style="font-size: 8pt;">
                      <thead class="table-light">
                        <tr>
                          <th class="text-left">Link</th>
                          <th class="text-left">Scan Name</th>
                          <th class="text-left">Stage</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          {% for scan in run["scans"]["scans"] %}
                            <td align="left">
                              <a href="{{ url_for('component_api.show_component', id=doc['_id'], test='electrical', runId=scan['runId']) }}"
                                >{{ scan['runId'] }}</a
                              >
                            </td>
                            <td align="left" style="word-wrap:break-word;">{{ scan['name'] }}</td>
                            <td align="left">{{ run['stage'] }}</td>
                          {% endfor %}
                        </tr>
                      </tbody>
                    </table>
                  </div>
                {% endif %}
              {% endfor %}
            {% else %}
              <h3>All results stored in ITkPD already exist in LocalDB.</h3>
            {% endif %}
            <br />
            <h5><a href="{{ url_for('component_api.show_component', id=doc['_id']) }}">Back to the component page</a></h5>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
  <br />
{% endblock %}
