<style>
  table.toppage {
    table-layout: fixed;
  }
  table.toppage th {
    text-align: center;
    vertical-align: middle;
  }
  table.toppage td {
    text-align: center;
    vertical-align: middle;
    border: 2px dotted #e1e1e1;
  }
  table.toppage td.border_inner {
    border-right-width: 2px;
    border-right-style: dotted;
    border-right-color: #e1e1e1;
  }
</style>
{% extends "layout.html" %}

{% block body %}
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col">
        <h1 style="margin-top: 0.5%; margin-bottom: 0%; font-size: 150%;">
          <a href="/localdb/" style="color:rgba(0, 0, 0, 0.648);;">Top Page</a> > Change scan stage
        </h1>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col">
        <h1>
          <font color="#000080"><i class="fa fa-wrench "></i> Change scan stage</font>
        </h1>
      </div>
    </div>
  </div>

  <br />

  <form class="form-horizontal" role="form" method="post" accept-charset="UTF-8">
    {% if stage == "complete" %}
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col">
            <h3><i class="fa fa-smile-o "></i> Scans Stage were successfully changed to {{ moduleinfo[1] }}!!</h3>
            <br />
          </div>
        </div>
      </div>
    {% elif stage == "input" %}
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col">
            <h3>Please input a module name</h3>
            <h3>You can change scans stage for a module</h3>
            <br />
          </div>
        </div>
      </div>
    {% elif stage == "scans" %}
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col">
            <h3>Please select scans and input new stage for scans</h3>
            <h3>You can change scans stage for a module</h3>
            <br />
          </div>
        </div>
      </div>
    {% elif stage == "confirm" %}
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col">
            <h3>Scans Stage for a module will be changed to {{ moduleinfo[1] }}</h3>
          </div>
        </div>
      </div>
    {% endif %}

    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col">
          <div class="form-group row" style="float: left; width: 48%;">
            <label class="col-form-label col-md-2" for="name" style="font-size: 25;">Module</label>
            <div class="col-md-10">
              {% if stage == "input" %}
                <input
                  type="text"
                  class="form-control"
                  value="{{ moduleinfo[0] }}"
                  placeholder="Module Serial Number"
                  name="moduleinfo"
                  id="name"
                  required="required"
                  autocomplete="on"
                  list="module"
                />
                <datalist id="module">
                  {% for moduleSN in modules %}
                    <option value="{{ moduleSN }}"></option>
                  {% endfor %}
                </datalist>
              {% else %}
                <input type="hidden" value="{{ moduleinfo[0] }}" name="moduleinfo" />
                <p style="font-size: 30;">{{ moduleinfo[0] }}</p>
              {% endif %}
            </div>
          </div>

          {% if stage != "input" %}
            <table class="table table-sm toppage" style="font-size: 10pt;">
              <thead class="table-light">
                <tr>
                  <th scope="col" rowspan="2" style="word-wrap:break-word; text-align:left;">Module Name</th>
                  <th scope="col" rowspan="2" style="word-wrap:break-word; text-align:left;">Chip Name</th>
                  <th scope="col" colspan="5" style="word-wrap:break-word; text-align:left;">Test Data</th>
                  <th scope="col" colspan="1" rowspan="2" style="word-wrap:break-word; text-align:left;">Tag</th>
                  <th scope="col" colspan="1" rowspan="2" style="word-wrap:break-word; text-align:left;">Check</th>
                </tr>
                <tr>
                  <th scope="col" style="word-wrap:break-word; text-align:left;">Test Type</th>
                  <th scope="col" style="word-wrap:break-word; text-align:left;">Stage</th>
                  <th scope="col" style="word-wrap:break-word; text-align:left;">Site</th>
                  <th scope="col" style="word-wrap:break-word; text-align:left;">Date</th>
                  <th scope="col" style="word-wrap:break-word; text-align:left;">Link</th>
                </tr>
              </thead>
              <tbody>
                {% for run_data in table_docs["run"] %}
                  <tr
                    {% if not run_data['run_data']['plots'] %}style="background: #AABBCC;" name="test-table" disabled="disabled"{% endif %}
                  >
                    <td style="word-wrap:break-word; text-align:left;">
                      {% for component in run_data['run_data']['components'] %}
                        {% if component['chip_id']=='module' %}
                          <a href="{{ url_for('component_api.show_component', id=component['_id']) }}">
                            <font>{{ component['name'] }}</font><br />
                          </a>
                        {% endif %}
                      {% endfor %}
                    </td>
                    <td style="word-wrap:break-word; text-align:left;">
                      {% for component in run_data['run_data']['components'] %}
                        {% if not component['chip_id']=='module' %}
                          {% if component['enabled'] %}
                            <a href="{{ url_for('component_api.show_component', id=component['_id']) }}">
                              <font>{{ component['name'] }}</font> </a
                            ><br />
                          {% else %}
                            <font color="BBBBBB">{{ component['name'] }}</font><br />
                          {% endif %}
                        {% endif %}
                      {% endfor %}
                    </td>
                    <td style="word-wrap:break-word; text-align:left;">{{ run_data['run_data']["testType"] }}</td>
                    <td style="word-wrap:break-word; text-align:left;">{{ run_data['run_data']["stage"] }}</td>
                    <td style="word-wrap:break-word; text-align:left;">{{ run_data['run_data']["site"] }}</td>
                    <td style="word-wrap:break-word; text-align:left;">{{ run_data['run_data']["datetime"] }}</td>
                    <td style="word-wrap:break-word; text-align:left;">
                      {% set hoge = [] %}
                      {% for component in run_data['run_data']['components'] %}
                        {% if component['chip_id']=='module' %}
                          {% set _ = hoge.append(0) %}
                          <a
                            href="{{ url_for('component_api.show_component', id=component['_id'], test='electrical', runId=run_data['run_data']['_id']) }}"
                            >result page</a
                          >
                        {% endif %}
                      {% endfor %}
                      {% if not hoge %}
                        <a href="{{ url_for('component_api.nomodule_result', test='electrical', runId=run_data['run_data']['_id']) }}"
                          >result page</a
                        >
                      {% endif %}
                    </td>
                    <td style="word-wrap:break-word; text-align:left;">
                      {% for tag in run_data['run_data']['testRun_tag'] %}
                        <i class="fa fa-tag"></i> {{ tag['name'] }}<br />
                      {% endfor %}
                    </td>
                    {% if stage == "scans" %}
                      <td><input type="checkbox" name="run_ids" value="{{ run_data["run_data"]["_id"] }}" /></td>
                    {% elif stage == "confirm" %}
                      <td><input type="checkbox" name="run_ids" value="{{ run_data["run_data"]["_id"] }}" checked /></td>
                    {% elif stage == "complete" %}
                      <td></td>
                    {% endif %}
                  </tr>
                {% endfor %}
              </tbody>
            </table>

            <hr />

            <div class="form-group row" style="float: left; width: 48%;">
              <label class="col-form-label col-md-2" for="name" style="font-size: 25;">Stage</label>
              <div class="col-md-10">
                {% if stage == "scans" %}
                  <input
                    type="text"
                    class="form-control"
                    value="{{ moduleinfo[1] }}"
                    placeholder="New Stage"
                    name="moduleinfo"
                    id="name"
                    required="required"
                    autocomplete="on"
                    list="stages"
                  />
                  <datalist id="stages">
                    {% for item in stages %}
                      <option value="{{ item }}"></option>
                    {% endfor %}
                  </datalist>
                {% elif stage != "input" and stage != "scans" %}
                  <input type="hidden" value="{{ moduleinfo[1] }}" name="moduleinfo" />
                  <p style="font-size: 30;">{{ moduleinfo[1] }}</p>
                {% endif %}
                <br />
              </div>
              <div class="col-md-2"></div>
              <div class="col-md-10"><font color="#ff0000">{{ text }}</font></div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col">
          <div class="form-group row">
            <div class="col-md-10">
              {% if stage == "input" %}
                <button type="submit" class="btn btn-primary" name="stage" value="scans">Create Scan list</button>
              {% elif stage == "scans" %}
                <button type="submit" class="btn btn-primary" name="stage" value="confirm">Confirm</button>
                <button type="submit" class="btn btn-primary" name="stage" value="input">Back page</button>
              {% elif stage == "confirm" %}
                <button type="submit" class="btn btn-primary" name="stage" value="complete">Change Stage</button>
                <button type="submit" class="btn btn-primary" name="stage" value="input">Back page</button>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col">
        <a href="/localdb/">Back to Top Page</a>
      </div>
    </div>
  </div>

  <br />
{% endblock %}
