<div class="container">
  <div class="row align-items-center justify-content-center">
    <div class="col">
      {% if not text == '' %}
        <div class="col-md-2"></div>
        <div class="col-md-10"><font color="#ff0000">{{ text }}</font></div>
      {% endif %}

      {% if total!= -1 %}
        {% if mode == "input" %}
          <h3><font color="#ff0000">Please select one result per test item.</font></h3>
        {% elif mode == "confirm" %}
          <h3><font color="#ff0000">Local sign-off is not yet done! Please make sure the selected tests are valid.</font></h3>
        {% endif %}
        <hr />
        <form
          class="form-horizontal"
          role="form"
          method="post"
          action="{{ url_for('qc_api.select_test', componentId=componentId, stage=stage) }}"
          accept-charset="UTF-8"
        >
          {% for testType in testTypes %}
            {% set outer_loop = loop %}

            <div class="col" style="margin-bottom: 40px;">
              <h4>{{ testType }}</h4>

              <table class="table table-bordered table-striped" style="font-size: 10pt;">
                <thead class="table-light">
                  <tr>
                    {% if mode == "input" %}
                      <th scope="col">Select</th>
                    {% endif %}
                    <th scope="col">Pass/Fail</th>
                    <th scope="col">Timestamp</th>
                    <th scope="col">Analysis Version</th>
                    <th scope="col">Result Parameters</th>
                    <th scope="col">Link</th>
                  </tr>
                </thead>

                <tbody>
                  {% for test in tests | reverse %}
                    {% if test['testType'] == testType %}
                      {% if mode == "input" or ( mode == "confirm" and test['selected'] == True ) %}
                        <tr>
                          {% if mode == "input" %}
                            <td style="word-wrap:break-word;">
                              <div class="form-group row">
                                <div class="col-md-10">
                                  <input type="radio" name="{{ testType }}_id" value="{{ test['_id'] }}" required="required" />
                                </div>
                              </div>
                            </td>
                          {% elif mode == "confirm" %}
                            <input type="hidden" name="{{ testType }}_id" value="{{ test['_id'] }}" />
                          {% endif %}

                          <td style="word-wrap:break-word; font-size:150%;">
                            {% if test['passed'] %}
                              <badge class="badge badge-pill badge-success">Passed</badge>
                            {% else %}
                              <badge class="badge badge-pill badge-dark">Failed</badge>
                            {% endif %}
                          </td>
                          <td style="word-wrap:break-word;">{{ test['timestamp'] }}</td>
                          <td style="word-wrap:break-word;">{{ test['analysis_version'] }}</td>

                          <td>
                            <button
                              class="btn btn-secondary"
                              type="button"
                              data-toggle="collapse"
                              data-target="#testRun_{{ test['_id'] }}"
                              aria-expanded="false"
                              aria-controls="testRun_{{ test['_id'] }}"
                            >
                              Expand TestRun Parameters
                            </button>
                            <div class="collapse" id="testRun_{{ test['_id'] }}">{{ test['resultHTML']|safe }}</div>
                          </td>

                          <td style="word-wrap:break-word;">
                            <a href="{{ url_for('component_api.show_component', id=componentId, test='qctest' , runId=test['_id']) }}"
                              >Show Result</a
                            >
                          </td>
                        </tr>
                      {% endif %}
                    {% endif %}
                  {% endfor %}
                </tbody>
              </table>
              <h5>
                {% if mode == "input" %}
                  <div class="col-md-10">
                    <input type="radio" name="{{ testType }}_id" value="" required="required" />&nbsp;&nbsp;Check if you sign-off without
                    {{ testType }}.
                  </div>
                {% elif mode == 'confirm' %}
                  {% if testType in unselected %}
                    <input type="hidden" name="{{ testType }}_id" value="" />
                    <div class="col-md-10">Selected to sign-off without {{ testType }}.</div>
                  {% endif %}
                {% endif %}
              </h5>
            </div>
          {% endfor %}

          {% if mode == "confirm" %}
            <div class="col-md-10">
              <input
                class="form-check-input"
                type="checkbox"
                name="transitionToAlternative"
                value="enable"
                id="enableTransitionToAlternative"
                style="width: 1rem; height: 1rem;"
              />
              <label class="form-check-label h5" for="enableTransitionToAlternative">Allow Stage Transition to Alternative Stages</label>
            </div>
          {% endif %}
          <div class="col-md-12">
            <br />
            {% if mode == "input" %}
              <button type="submit" class="btn btn-primary" name="mode" value="confirm">Proceed</button>
            {% elif mode == "confirm" %}
              <button type="submit" class="btn btn-warning" name="mode" value="input">Back page</button>
              <button type="submit" class="btn btn-primary" name="mode" value="complete">Local Sign-off Only</button>
              <button type="submit" class="btn btn-success" name="mode" value="complete_sync">Also Upload to ITkPD</button>
            {% endif %}
          </div>
        </form>
      {% endif %}
    </div>
  </div>
</div>
