<style>
  table.toppage {
    table-layout: fixed;
  }
  table.toppage th {
    text-align: center;
    vertical-align: middle;
  }
  table.toppage td {
    text-align: center;
    vertical-align: middle;
    border: 2px dotted #e1e1e1;
  }
  table.toppage td.border_inner {
    border-right-width: 2px;
    border-right-style: dotted;
    border-right-color: #e1e1e1;
  }
</style>
{% extends "layout.html" %}

{% block body %}
  <style>
    @keyframes fadeOut {
      from {
        opacity: 1;
      }

      to {
        display: none;
        opacity: 0;
        z-index: -1;
      }
    }

    #loader {
      width: 100%;
      height: 100vh;
      background-color: #00c2bc;
    }

    #loader.loaded {
      animation: fadeOut 3s forwards;
    }

    .spinner {
      margin: 0 auto;
      width: 40px;
      height: 40px;
      position: relative;
      top: 50%;
    }

    .cube1,
    .cube2 {
      background-color: #ffffff;
      width: 15px;
      height: 15px;
      position: absolute;
      top: 0;
      left: 0;

      -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
      animation: sk-cubemove 1.8s infinite ease-in-out;
    }

    .cube2 {
      -webkit-animation-delay: -0.9s;
      animation-delay: -0.9s;
    }

    @-webkit-keyframes sk-cubemove {
      25% {
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
      }
      50% {
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
      }
      75% {
        -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
      }
      100% {
        -webkit-transform: rotate(-360deg);
      }
    }

    @keyframes sk-cubemove {
      25% {
        transform: translateX(42px) rotate(-90deg) scale(0.5);
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
      }
      50% {
        transform: translateX(42px) translateY(42px) rotate(-179deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
      }
      50.1% {
        transform: translateX(42px) translateY(42px) rotate(-180deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
      }
      75% {
        transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
        -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
      }
      100% {
        transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
      }
    }
  </style>

  <style type="text/css">
    .balloonoya {
      position: relative; /* 指定した分だけ相対的に移動 */
    }
    .balloonoya:hover .balloon {
      display: inline; /* インライン要素として表示 */
    }
    .balloon {
      position: absolute; /* 親要素を基準 */
      display: none; /* 要素を非表示 */
      padding: 2px; /* テキストの前後の余白 */
      background-color: rgba(102, 102, 255, 0.5); /* 背景色（透明度） */
      width: 180px; /* 吹き出し全体の幅 */
      right: -1%; /* 表示位置 */
      font-size: 80%; /* 文字サイズ */
    }
    .balloon:after {
      border-right: 12px solid rgba(102, 102, 255, 0.5); /* 吹き出し口の幅・色 */
      border-top: 10px solid transparent; /* 吹き出し口の高さ１／２ */
      border-bottom: 10px solid transparent; /* 吹き出し口の高さ１／２ */
      left: -12px; /* 吹き出し口の位置調整 */
      top: 5%; /* 吹き出し口の縦位置 */
      content: ""; /* コンテンツの挿入 */
      position: absolute; /* 親要素を基準 */
    }
  </style>

  <script>
    window.onload = () => {
      const loader = document.getElementById("loader");
      loader.classList.add("loaded");
    };
  </script>

  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col">
        <h1 style="margin-top: 0.5%; margin-bottom: 0%; font-size: 150%;">
          <a href="/localdb/" style="color:rgba(0, 0, 0, 0.648);">Top Page</a> >
          <a href="/localdb/components" style="color:rgba(0, 0, 0, 0.648);">Component List</a> >
          <a href="{{ url_for('component_api.show_component', id=doc['_id'] ) }}" style="color:rgba(0, 0, 0, 0.648);">Component</a> >
          <a href="{{ url_for('qc_api.site_qualification', module=doc['mname'], mode='select' ) }}" style="color:rgba(0, 0, 0, 0.648);"
            >Request Site Qualification for Database Setup (Block 2)</a
          >
        </h1>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col">
        <h1>Request Site Qualification for Database Setup (Block 2)</h1>
      </div>
    </div>
    <br />

    {% if 'message' in doc %}
      <h4>{{ doc['message'] }}</h4>
    {% endif %}

    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Pre-requisites</h3>
        <ul>
          <li>You need to pull initial data from ITkPD from <a href="{{ url_for('user_api.download_pdinfo') }}">this page</a>.</li>
          <li>
            You need to download an example tutorial module &quot;20UPGXM2000013&quot; from
            <a href="{{ url_for('user_api.download_component') }}">this page</a>.
          </li>
        </ul>
      </div>
    </div>

    <div class="container">
      <div class="row align-items-center justify-content-center" style="width: 70%;">
        <div class="col" style="margin-top: 30px;">
          {% if doc['mode'] == "init" %}
            <h2>Step-1: ITkPD authentication</h2>

            <form
              class="form-horizontal"
              role="form"
              method="post"
              action="{{ url_for('qc_api.site_qualification') }}"
              accept-charset="UTF-8"
            >
              <input type="hidden" name="mode" value="select" />
              <br /><br />
              <div class="form-group row">
                <label class="col-form-label col-md-3">Access code 1<font color="#ff0000">*</font></label>
                <div class="col-md-9">
                  <input type="password" class="form-control" value="" placeholder="Access code 1" name="code1" required="required" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-form-label col-md-3">Access code 2<font color="#ff0000">*</font></label>
                <div class="col-md-9">
                  <input type="password" class="form-control" value="" placeholder="Access code 2" name="code2" required="required" />
                </div>
              </div>

              <button type="submit" class="btn btn-primary" name="mode" value="select">Next</button>
            </form>
          {% elif doc['mode'] == "select" %}
            <h2>Step-2: Select Your Site</h2>

            <form
              class="form-horizontal"
              role="form"
              method="post"
              action="{{ url_for('qc_api.site_qualification') }}"
              accept-charset="UTF-8"
            >
              <input type="hidden" name="mode" value="submit" />
              <br /><br />
              <div class="form-group row">
                <label class="col-form-label col-md-3">Select Site<font color="#ff0000">*</font></label>
                <div class="col-md-9">
                  <select class="form-control" style="width: 100%;" name="selectedSite" id="required" ="required" value="">
                    <option selected disabled>Select Site...</option>
                    {% for site in doc['sites'] | reverse %}
                      <option value="{{ site['serialNumber'] }}">{{ site['serialNumber'] }} -- {{ site['institution']['name'] }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>

              <button type="submit" class="btn btn-primary" name="mode" value="submit">Next</button>
            </form>
          {% elif doc['mode'] == "submit" %}
            <h2>Step-3: Confirmation</h2>

            <p>The information below is going to be submitted to ITkPD as a site-qualification material.</p>

            <form
              class="form-horizontal"
              role="form"
              method="post"
              action="{{ url_for('qc_api.site_qualification') }}"
              accept-charset="UTF-8"
            >
              <input type="hidden" name="selectedSite" value="{{ doc['site'] }}" />

              <button type="submit" class="btn btn-success" name="mode" value="complete">Submit</button>
            </form>
            <table class="table table-bordered table-stripe" style="margin-left: 30px; font-size: 130%;">
              {{ doc['dataHTML'] | safe }}
            </table>
          {% elif doc['mode'] == "complete" %}
            <h2>Submission Completed</h2>

            <ul>
              <li>The site qualification request was submitted.</li>
              <li>You are also requested to submit a subsidiary questionnaire.</li>
            </ul>

            <button
              class="btn btn-primary"
              type="submit"
              type="button"
              onclick="location.href='https://docs.google.com/forms/d/e/1FAIpQLSdyJS2zKJ7-vVVUzD6VRvzgwXmHT93BlB3JrawC8njlbYOsPg/viewform'"
            >
              Proceed to Questionnaire
            </button>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <br />
{% endblock %}
