<style>
  th {
    background-color: #eeeeff;
  }
</style>
{% extends "layout.html" %}

{% block body %}
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col">
        <h1>Site Map</h1>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col">
        <ul>
          {% for url, endpoint, path in links %}
            <li><a href="{{ url if url else '#' }}">{{ endpoint }}</a> &#8594; {{ path }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
