<style>
  table.toppage {
    table-layout: fixed;
  }

  table.toppage th {
    text-align: center;
    vertical-align: middle;
  }

  table.toppage td {
    text-align: center;
    vertical-align: middle;
    border: 2px dotted #e1e1e1;
  }

  table.toppage td.border_inner {
    border-right-width: 2px;
    border-right-style: dotted;
    border-right-color: #e1e1e1;
  }
</style>
{% extends "layout.html" %}

{% block body %}
  <style>
    @keyframes fadeOut {
      from {
        opacity: 1;
      }

      to {
        display: none;
        opacity: 0;
        z-index: -1;
      }
    }

    #loader {
      width: 100%;
      height: 100vh;
      background-color: #00c2bc;
    }

    #loader.loaded {
      animation: fadeOut 3s forwards;
    }

    .spinner {
      margin: 0 auto;
      width: 40px;
      height: 40px;
      position: relative;
      top: 50%;
    }

    .cube1,
    .cube2 {
      background-color: #ffffff;
      width: 15px;
      height: 15px;
      position: absolute;
      top: 0;
      left: 0;

      -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
      animation: sk-cubemove 1.8s infinite ease-in-out;
    }

    .cube2 {
      -webkit-animation-delay: -0.9s;
      animation-delay: -0.9s;
    }

    @-webkit-keyframes sk-cubemove {
      25% {
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
      }

      50% {
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
      }

      75% {
        -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
      }

      100% {
        -webkit-transform: rotate(-360deg);
      }
    }

    @keyframes sk-cubemove {
      25% {
        transform: translateX(42px) rotate(-90deg) scale(0.5);
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
      }

      50% {
        transform: translateX(42px) translateY(42px) rotate(-179deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
      }

      50.1% {
        transform: translateX(42px) translateY(42px) rotate(-180deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
      }

      75% {
        transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
        -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
      }

      100% {
        transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
      }
    }
  </style>

  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col">
        <h1 style="margin-top: 0.5%; margin-bottom: 0%; font-size: 150%;">
          <a href="/localdb/" style="color:rgba(0, 0, 0, 0.648);">Top Page</a> >
          <a href="/localdb/components" style="color:rgba(0, 0, 0, 0.648);">Component List</a> >
          <a href="{{ url_for('component_api.show_component', id=doc['_id']) }}" style="color:rgba(0, 0, 0, 0.648);">Component</a>
          {% if "local" in doc['mode'] %}
            >
            <a
              href="{{ url_for('qc_api.switch_stage', serial_number=doc['serial_number'], id=doc['_id'], stage='option' ) }}"
              style="color:rgba(0, 0, 0, 0.648);"
              >Customize Module Stage</a
            >
            > Change current stage in LocalDB
          {% elif "itkpd" in doc['mode'] %}
            >
            <a
              href="{{ url_for('qc_api.switch_stage', serial_number=doc['serial_number'], id=doc['_id'], stage='option' ) }}"
              style="color:rgba(0, 0, 0, 0.648);"
              >Customize Module Stage</a
            >
            > Customize stage flow in LocalDB
          {% else %}
            > Change Module Stage
          {% endif %}
        </h1>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col">
        <h1>Switch Component Stage</h1>
        {% if doc['serial_number'] %}
          <dl>
            <dt>Module SN:</dt>
            <dd><span class="serialNumber">{{ doc['serial_number'] }}</span></dd>
            <dt>Current Stage:</dt>
            <dd>{{ doc["stage"] }}</dd>
          </dl>
        {% endif %}
      </div>
    </div>
    <br />

    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col">
          {% if doc['mode'] == 'alternative' %}
            <form
              class="form-horizontal"
              role="form"
              method="post"
              action="{{ url_for('qc_api.switch_stage', serial_number=doc['serial_number'], mode=doc['mode']) }}"
              accept-charset="UTF-8"
            >
              <h3><i class="fa fa-random"></i> Switch to an alternative stage</h3>

              <div class="col">
                <select class="form-control" style="width: 400px;" name="destStage" id="required" ="required" value="{{ destStage }}">
                  {% for stage in doc["alternatives"] %}
                    {% if stage != doc['stage'] %}
                      <option value="{{ stage }}">{{ stage }}</option>
                    {% else %}
                      <option value="{{ stage }}" selected disabled>{{ stage }}</option>
                    {% endif %}
                  {% endfor %}
                </select>
              </div>

              {% if doc['stage'] in doc["alternatives"] %}
                <div class="col"><input type="checkbox" name="touch" checked /> Consider this alternative stage for upload to PDB.</div>
              {% endif %}

              <div class="col" style="margin-top: 10px;">
                <button type="submit" class="btn btn-warning" name="mode" value="local_complete">Switch the stage</button>
              </div>

              <br />
              {% if doc["text"] == "Please select stage from pull-down menu..." %}
                <h2>
                  <font color="red"><i class="fa fa-warning"></i> {{ doc["text"] }}</font>
                </h2>
              {% elif doc["text"] != "" %}
                <h2>
                  <font color="blue">{{ doc["text"] }}</font>
                </h2>
              {% endif %}
            </form>
          {% endif %}

          {% if doc['mode'] == 'previous' %}
            <form
              class="form-horizontal"
              role="form"
              method="post"
              action="{{ url_for('qc_api.switch_stage', serial_number=doc['serial_number'], mode=doc['mode']) }}"
              accept-charset="UTF-8"
            >
              <div class="col">
                <select class="form-control" style="width: 400px;" name="destStage" id="required" ="required" value="{{ destStage }}">
                  {% for stage in doc["stages"] %}
                    {% if stage != doc['stage'] %}
                      <option value="{{ stage }}">{{ stage }}</option>
                    {% else %}
                      <option value="{{ stage }}" selected disabled>{{ stage }}</option>
                    {% endif %}
                  {% endfor %}
                </select>
              </div>

              {% if doc['stage'] in doc["alternatives"] %}
                <div class="col"><input type="checkbox" name="touch" checked /> Consider this alternative stage for upload to PDB.</div>
              {% endif %}

              <div class="col" style="margin-top: 10px;">
                <button type="submit" class="btn btn-danger" name="mode" value="local_complete">
                  I understand the meaning of this action and switch to an earlier stage.
                </button>
              </div>

              <br />
              {% if doc["text"] == "Please select stage from pull-down menu..." %}
                <h2>
                  <font color="red"><i class="fa fa-warning"></i> {{ doc["text"] }}</font>
                </h2>
              {% elif doc["text"] != "" %}
                <h2>
                  <font color="blue">{{ doc["text"] }}</font>
                </h2>
              {% endif %}
            </form>
          {% endif %}

          {% if doc['mode'] == 'expert' %}
            <form
              class="form-horizontal"
              role="form"
              method="post"
              action="{{ url_for('qc_api.switch_stage', serial_number=doc['serial_number'], mode=doc['mode']) }}"
              accept-charset="UTF-8"
            >
              <h3 class="text-danger"><i class="fa fa-exclamation-triangle"></i> Exceptional use only!! Select the stage to jump</h3>

              <div class="col">
                <select class="form-control" style="width: 400px;" name="destStage" id="required" ="required" value="{{ destStage }}">
                  {% for stage in doc["stages"] %}
                    {% if stage != doc['stage'] %}
                      <option value="{{ stage }}">{{ stage }}</option>
                    {% else %}
                      <option value="{{ stage }}" selected disabled>{{ stage }}</option>
                    {% endif %}
                  {% endfor %}
                </select>
              </div>

              {% if doc['stage'] in doc["alternatives"] %}
                <div class="col"><input type="checkbox" name="touch" checked /> Consider this alternative stage for upload to PDB.</div>
              {% endif %}

              <div class="col" style="margin-top: 10px;">
                <button type="submit" class="btn btn-danger" name="mode" value="local_complete">
                  I understand the meaning of this action and switch the stage
                </button>
              </div>

              <br />
              {% if doc["text"] == "Please select stage from pull-down menu..." %}
                <h2>
                  <font color="red"><i class="fa fa-warning"></i> {{ doc["text"] }}</font>
                </h2>
              {% elif doc["text"] != "" %}
                <h2>
                  <font color="blue">{{ doc["text"] }}</font>
                </h2>
              {% endif %}
            </form>
          {% endif %}
          <a class="btn btn-primary" href="{{ url_for('component_api.show_component', id=doc['_id']) }}" role="button"
            >Back to the component page</a
          >
          <br />
        </div>
      </div>
    </div>
  </div>
  <br />
{% endblock %}
