<style>
  table.toppage {
    table-layout: fixed;
  }
  table.toppage th {
    text-align: center;
    vertical-align: middle;
  }
  table.toppage td {
    text-align: center;
    vertical-align: middle;
    border: 2px dotted #e1e1e1;
  }
  table.toppage td.border_inner {
    border-right-width: 2px;
    border-right-style: dotted;
    border-right-color: #e1e1e1;
  }
</style>
{% extends "layout.html" %}

{% block body %}
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col">
        <h1 style="margin-top: 0.5%; margin-bottom: 0%; font-size: 150%;">
          <a href="/localdb/" style="color:rgba(0, 0, 0, 0.648);">Top Page</a> >
          <a href="/localdb/components" style="color:rgba(0, 0, 0, 0.648);">Component List</a> >
          <a href="{{ url_for('component_api.show_component', id=table_docs['_id']) }}" style="color:rgba(0, 0, 0, 0.648);">
            {{ table_docs['mname'] }}/{{ table_docs['stage'] }}
          </a>
          > Create Flag
        </h1>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col">
        <h1>Create a Flag</h1>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col">
        {% if table_docs["pstage"] == 'input' %}
          <h2>
            <font color="#000080"><i class="fa fa-arrow-right"></i> Please create flag if you did {{ table_docs["test"] }}</font>
          </h2>
          <h3><b> Component: {{ table_docs['mname'] }} </b></h3>
          <h3><b> Current Stage: {{ table_docs['stage'] }} </b></h3>
          <br />

          <h4>You can create a flag with the following button.</h4>
          <form
            class="form-horizontal"
            role="form"
            method="post"
            action="{{ url_for('component_api.upload_flag', id=table_docs['_id'], stage=table_docs['stage'], test=table_docs['test']) }}"
            accept-charset="UTF-8"
          >
            <h4><input type="radio" name="flag" value="True" required="required" checked /> Carried out {{ table_docs["test"] }}</h4>
            <h4><input type="radio" name="flag" value="False" required="required" /> Did not carry out {{ table_docs["test"] }}</h4>

            <button type="submit" class="btn btn-primary" name="pstage" value="complete">Create flag</button>
          </form>
        {% elif table_docs["pstage"] == 'complete' %}
          <h2>The scans were registered for QC results.</h2>
        {% endif %}

        {% if table_docs["pstage"]!='complete' and table_docs["pstage"]!='nextcomplete' %}
          <h5><a href="{{ url_for('component_api.show_component', id=table_docs['_id']) }}">Back to the component page</a></h5>
        {% else %}
          <br />
          <form
            class="form-horizontal"
            role="form"
            method="post"
            action="{{ url_for('component_api.show_component', id=table_docs['_id']) }}"
            accept-charset="UTF-8"
          >
            <button type="submit" class="btn btn-primary">Back to the module top page</button>
          </form>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
