h1 {
  color: #03254c;
  font-size: 200%;
}
h2 {
  color: #3a8cc4;
  font-size: 175%;
}
h3 {
  color: #03254c;
  font-size: 150%;
}
h4 {
  color: #2f9679;
  font-size: 125%;
}
h5 {
  color: #03254c;
  font-size: 105%;
}
h6 {
  color: #bc6d92;
  font-size: 100%;
}
