<div class="col">
  <h4 style="font-size: 180%;"><i class="fa fa-comments"></i> Comments</h4>
  <table class="table table-sm table-bordered" style="font-size: 100%; margin-left: 2%;">
    {% if component['comments'] or session['logged_in'] %}
      <thead class="table-light">
        <tr>
          <th scope="col" width="20%" class="text-left">Date</th>
          <th scope="col" width="15%" class="text-left">Commented by</th>
          <th scope="col" width="15%" class="text-left">on which Component</th>
          <th scope="col" width="50%" class="text-left">Comment</th>
        </tr>
      </thead>
    {% endif %}

    <tbody>
      {% if component['comments'] %}
        {% for comment in component['comments'] %}
          <tr>
            <th scope="col" class="text-left">{{ comment['datetime'] }}</th>
            <td scope="col" class="text-left">{{ comment['name'] }}</td>
            <td scope="col" class="text-left">
              {{ comment['componentType'] }}<br /><a
                href="{{ url_for('component_api.show_component', id=comment['component']) }}"
                class="badge badge-pill badge-info"
                style="font-size:100%;"
                >{{ comment['componentInfo']['name'] }}</a
              >
            </td>
            <td scope="col" class="text-left">{{ comment['comment'] | safe }}</td>
          </tr>
        {% endfor %}
      {% endif %}

      {% if session['logged_in'] %}
        <tr></tr>
        <tr>
          <form action="{{ url_for('component_api.edit_comment', id=component['_id'], runId=session['runId']) }}" method="post">
            <td scope="col" align="right">
              {{ session['user_name'] }}
              <input type="hidden" value="{{ session['user_name'] }}" name="user" />
              <input type="hidden" name="id" value="{{ component['_id'] }}" />
              <input type="hidden" name="type" value="{{ component['type'] }}" />
              <button type="button" class="btn btn-primary btn-sm" name="saveComment" value="saveComment" onclick="this.form.submit()">
                <i class="fa fa-upload"></i> Save
              </button>
            </td>
            <td scope="col" align="center" colspan="2">
              <input
                type="text"
                required="required"
                class="form-control input-normal"
                value="{{ session['fullname'] }}"
                placeholder="name"
                name="text2"
              />
            </td>
            <td scope="col" align="center" colspan="1">
              <textarea
                required="required"
                class="form-control input-normal"
                placeholder="Fill your comment here..."
                name="text"
              ></textarea>
            </td>
          </form>
        </tr>
      {% endif %}
    </tbody>
  </table>
</div>
