.balloonoya {
  position: relative;
}

.balloonoya:hover .balloon {
  display: inline;
}

.balloon {
  color: #fff;
  position: absolute;
  display: none;
  padding: 5%;
  background-color: #88f;
  border-radius: 5px;
  width: 180px;
  left: 0%;
  bottom: 100%;
  margin-bottom: 12px;
  font-size: 80%;
  transition: all 0.5s 0s ease;
}

.balloon:after {
  border-top: 12px solid #88f;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  bottom: -12px;
  left: 30%;
  content: "";
  position: absolute;
  transition: all 0.5s 0s ease;
}

tr.test-run {
  background: #aabbcc;
}

tr.test-failed,
tr.test-archived,
tr.test-diffstage {
  display: none;
}
