<style>
  input[type="checkbox"].data {
    display: none;
    margin: 0px;
    padding: 0px;
    background-color: #ffffff;
  }
  input[type="checkbox"].data + label {
    margin: 0px;
    padding: 0px;
    border: none;
    background-color: #ffffff;
  }
  input[type="checkbox"].data:checked + label {
    margin: 0px;
    padding: 0px;
    border: none;
    color: #3cb371;
    background-color: #ffffff;
  }
  input[type="checkbox"].data:checked + label:hover {
    margin: 0px;
    padding: 0px;
    color: #3cb371;
    border: none;
    background-color: #ffffff;
  }
  label.data {
    margin: 0px;
    padding: 0px;
    text-align: center;
    cursor: pointer;
    color: #dddddd;
    background-color: #ffffff;
    border: none;
  }
  table.toppage {
    table-layout: fixed;
  }
  table.toppage th {
    text-align: center;
    vertical-align: middle;
  }
  table.toppage td {
    text-align: center;
    vertical-align: middle;
    border: 2px dotted #e1e1e1;
  }
  table.toppage td.border_inner {
    border-right-width: 2px;
    border-right-style: dotted;
    border-right-color: #e1e1e1;
  }
  .quad-module {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 0px;
    width: 150px;
    height: 35px;
  }
  .fe-chip {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
  }
  .quad-1 {
    grid-area: 1 / 1 / 1 / 2;
  }
  .quad-2 {
    grid-area: 1 / 2 / 1 / 3;
  }
  .quad-3 {
    grid-area: 1 / 3 / 1 / 4;
  }
  .quad-4 {
    grid-area: 1 / 4 / 1 / 5;
  }
  .hover-table {
    display: none;
    position: absolute;
    z-index: 1000;
    border: 1px solid #dee2e6;
    background-color: white;
    width: 300px;
  }
</style>

<div class="row align-items-top justify-content-left">
  <div class="col-sm-2" align="left" style="width: 20%;">
    <form role="form" method="post" action="{{ url_for('component_api.download_json' ) }}" accept-charset="UTF-8">
      <input type="hidden" name="path" value="{{ component['qctest']['results']['result_json'] }}" />
      <button class="btn btn-primary" type="submit" type="button">Download TestRun</button>
    </form>
  </div>

  {% if 'property' in component['qctest']['results']['results'] %}
    {% set ana_version = component['qctest']['results']['results']['property']['ANALYSIS_VERSION'] %}
  {% elif 'property' in component['qctest']['results']['results'] %}
    {% set ana_version = component['qctest']['results']['results']['properties']['ANALYSIS_VERSION'] %}
  {% else %}
    {% set ana_version = '' %}
  {% endif %}

  {% if session['logged_in'] %}
    <div class="col-sm-2" align="left">
      <form role="form" method="post" action="{{ url_for('qc_api.recycle_summary' ) }}" accept-charset="UTF-8">
        <input type="hidden" name="test_run_id" value="{{ component['qctest']['results']['id'] }}" />
        <input type="hidden" name="serial_number" value="{{ component['info']['name'] }}" />
        <button class="btn btn-warning" type="submit" type="button">Recycle E-Summary</button>
        <p>(Server's version: {{ table_docs['qc_analysis_version'] }})</p>
      </form>
    </div>
  {% endif %}
</div>

<h4><strong>Basic View Only:</strong> custom view for this TestRun is not prepared.</h4>
<div class="row align-items-top justify-content-left">
  <div class="col-md-6">
    <h4>
      {% if component['qctest']['results'] %}
        <i class="fa fa-file"></i> Metadata
      {% endif %}
    </h4>
    {% if component['qctest']['results'] %}
      <table class="table table-sm table-bordered" style="font-size: 10pt;">
        <thead class="table-light">
          <tr>
            <th scope="col" class="text-left">Key</th>
            <th scope="col" class="text-left">Data</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" class="text-left">QC Passed</th>
            <td class="text-left">{{ component['qctest']['results']['passed'] }}</td>
          </tr>
          <tr>
            <th scope="row" class="text-left">Date</th>
            <td class="text-left">{{ component['qctest']['results']['datetime'] }}</td>
          </tr>
          <tr>
            <th scope="row" class="text-left">component ObjectId</th>
            <td class="text-left">{{ component['qctest']['results']['component'] }}</td>
          </tr>
          <tr>
            <th scope="row" class="text-left">Stage</th>
            <td class="text-left">{{ component['qctest']['results']['stage'] }}</td>
          </tr>
          <tr>
            <th scope="row" class="text-left">Test Type</th>
            <td class="text-left">{{ component['qctest']['results']['testType'] }}</td>
          </tr>
          <tr>
            <th scope="row" class="text-left">Institute ObjectId</th>
            <td class="text-left">{{ component['qctest']['results']['institute']['institution'] }}</td>
          </tr>
          <tr>
            <th scope="row" class="text-left">User Name</th>
            <td class="text-left">{{ component['qctest']['results']['user'] }}</td>
          </tr>
          <tr>
            <th scope="row" class="text-left">ObjectId of this record</th>
            <td class="text-left">{{ component['qctest']['results']['id'] }}</td>
          </tr>
          <tr>
            <th scope="row" class="text-left">ObjectId of RAW record</th>
            <td class="text-left">{{ component['qctest']['results']['rawId'] }}</td>
          </tr>
          {% if ('config_revision' in component['tr_ser'] and 'config_id' in component['tr_ser']) %}
            <tr>
              <th scope="row" class="text-left">Tuning Config</th>
              <td class="text-left">
                <a
                  class="badge badge-pill badge-success"
                  href="{{ url_for('config_api.show_config', configId = component['tr_ser']['config_id'], revision = component['tr_ser']['config_revision'] ) }}"
                  >Associated FE Config</a
                >
              </td>
            </tr>
          {% endif %}
        </tbody>
      </table>
    {% endif %}
  </div>
</div>

<div class="row align-items-top justify-content-left">
  <div class="col-md-6">
    {% if component['qctest']['results'] %}
      <h4>
        <a
          class="badge badge-link"
          href="{{ url_for('component_api.download_test_run_result', test_run_id=component['qctest']['results']['runId']) }}"
          download
          ><i class="fa fa-download fa-2x" style="vertical-align: middle;" aria-hidden="true"></i
        ></a>
        Results
      </h4>
      <table class="table table-sm table-bordered" style="font-size: 10pt;">
        <thead class="table-light">
          <tr>
            <th scope="col" class="text-left">Key</th>
            <th scope="col" class="text-left">Data</th>
          </tr>
        </thead>
        <tbody>
          {% for key in component['qctest']['results']['results'] %}
            {% if key == 'property' or key == 'properties' or key == 'Metadata' or key == 'metadata' %}
              {% for key2 in component['qctest']['results']['results'][key] %}
                <tr>
                  <th scope="row" class="text-left">{{ key2 }}</th>
                  {% if key2 == "ANALYSIS_VERSION" %}
                    <td class="text-left">localdb-tools v{{ component['qctest']['results']['results'][key][key2] | safe }}</td>
                  {% else %}
                    <td class="text-left">{{ component['qctest']['results']['results'][key][key2] | safe }}</td>
                  {% endif %}
                </tr>
              {% endfor %}
            {% elif key.startswith('QUAD-MODULE_') %}
              <tr>
                <th scope="row" class="text-left">{{ key }}</th>
                <td class="quad-module" style="background-color: {{ component['qctest']['results']['results'][key]['bgcolor'] }};">
                  {% for item in component['qctest']['results']['results'][key]['fe_results'] %}
                    {% if item.link %}
                      <a href="{{ item.link }}" class="fe-chip quad-{{ loop.index }}" style="background-color: {{ item.color }};">
                        {{ item.text }}
                      </a>
                    {% else %}
                      <div class="fe-chip quad-{{ loop.index }}" style="background-color: {{ item.color }};">{{ item.text }}</div>
                    {% endif %}
                  {% endfor %}
                </td>
              </tr>
            {% else %}
              <tr>
                <th scope="row" class="text-left">{{ key }}</th>
                <td class="text-left">{{ component['qctest']['results']['results'][key] | safe }}</td>
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
    {% if component['qctest']['results']['summary'] %}
      <table class="table table-sm table-bordered" style="font-size: 10pt;">
        <thead class="table-light">
          <tr>
            <th scope="col" class="text-left">Key</th>
            <th scope="col" class="text-left">Data</th>
          </tr>
        </thead>
        <tbody>
          {% for key in component['qctest']['results']['summary'] %}

            {% if key == 'property' or key == 'properties' or key == 'Metadata' or key == 'metadata' %}
              {% for key2 in component['qctest']['results']['summary'][key] %}
                <tr>
                  <th scope="row" class="text-left">{{ key2 }}</th>
                  <td class="text-left">{{ component['qctest']['results']['summary'][key][key2] | safe }}</td>
                </tr>
              {% endfor %}
            {% else %}
              <tr>
                <th scope="row" class="text-left">{{ key }}</th>
                <td class="text-left">{{ component['qctest']['results']['summary'][key] | safe }}</td>
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
  </div>
</div>

<div class="row align-items-top justify-content-left">
  <div class="col-md-6">
    <h4>
      {% if component['qctest']['results']['attachments'] | length > 0 %}
        <i class="fa fa-file"></i> Attachments
      {% endif %}
    </h4>
    {% if component['qctest']['results']['attachments'] | length > 0 %}
      <table class="table table-sm table-bordered" style="font-size: 10pt;">
        <thead class="table-light">
          <tr>
            <th scope="col" class="text-left">Filename</th>
            <th scope="col" class="text-left">Contents</th>
          </tr>
        </thead>
        <tbody>
          {% for file in component['qctest']['results']['attachments'] %}
            <tr>
              <th scope="row" class="text-left">
                <a class="badge badge-link" href="{{ component['qctest']['results']['attachments'][file]['download_uri'] }}" download
                  ><i class="fa fa-download fa-2x" style="vertical-align: middle;" aria-hidden="true"></i
                ></a>
                {{ file }}
              </th>
              {% if 'thumbnail_uri' in component['qctest']['results']['attachments'][file] %}
                <td class="text-left"><img src="{{ component['qctest']['results']['attachments'][file]['thumbnail_uri'] }}" /></td>
              {% else %}
                <td class="text-left">
                  <a
                    class="btn btn-primary"
                    href="{{ component['qctest']['results']['attachments'][file]['download_uri'] }}"
                    role="button"
                    download
                    >Download</a
                  >
                </td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
  </div>
</div>

{% for class_key in component['fe_summary_dict'] %}
  <table id="{{ class_key }}" class="hover-table table table-sm table-bordered" style="font-size: 10pt;">
    <thead class="table-light">
      <tr>
        <th>Key</th>
        <th>Data</th>
      </tr>
    </thead>
    <tbody>
      {% for key in component['fe_summary_dict'][class_key] %}
        <tr>
          <th scope="row" class="text-left">{{ key }}</th>
          <td class="text-left">{{ component['fe_summary_dict'][class_key][key] | safe }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endfor %}

<script>
  document.addEventListener("DOMContentLoaded", (event) => {
    const hoverAreas = document.querySelectorAll(".fe-chip");
    let hoverTable;

    hoverAreas.forEach((hoverArea) => {
      hoverArea.addEventListener("mouseenter", () => {
        hoverTable = document.getElementById(hoverArea.classList[1]);

        // Set the table position relative to the hovered area
        const rect = hoverArea.getBoundingClientRect();
        hoverTable.style.top = window.scrollY + rect.bottom + "px";
        hoverTable.style.left = window.scrollX + rect.left + "px";

        hoverTable.style.display = "table";
      });

      hoverArea.addEventListener("mouseleave", () => {
        hoverTable.style.display = "none";
      });
    });
  });
</script>
