<style>
  input[type="checkbox"].data {
    display: none;
    margin: 0px;
    padding: 0px;
    background-color: #ffffff;
  }
  input[type="checkbox"].data + label {
    margin: 0px;
    padding: 0px;
    border: none;
    background-color: #ffffff;
  }
  input[type="checkbox"].data:checked + label {
    margin: 0px;
    padding: 0px;
    border: none;
    color: #3cb371;
    background-color: #ffffff;
  }
  input[type="checkbox"].data:checked + label:hover {
    margin: 0px;
    padding: 0px;
    color: #3cb371;
    border: none;
    background-color: #ffffff;
  }
  label.data {
    margin: 0px;
    padding: 0px;
    text-align: center;
    cursor: pointer;
    color: #dddddd;
    background-color: #ffffff;
    border: none;
  }
</style>

<h4 style="margin-top: 10px;"><i class="fa fa-file"></i> ProductionDB Record</h4>
{% if not component['qctest']['results']['prodDB_record'] | length > 0 %}
  <div class="col" style="margin-top: 10px;">
    <button class="btn btn-secondary" disabled>Not yet uploaded to ProductionDB</button>
  </div>
{% endif %}

<div class="row align-items-top justify-content-left" style="margin-left: 2%; margin-top: 10px;">
  {% if component['qctest']['results']['prodDB_record'] | length > 0 %}
    <a class="btn btn-info" data-toggle="collapse" href="#prodDbRecord" role="button" aria-expanded="false" aria-controls="prodDbRecord">
      Expand ProductionDB Record
    </a>
  {% endif %}
  <div class="collapse" id="prodDbRecord">
    <div class="card card-body">{{ component['qctest']['results']['prodDB_record'] | safe }}</div>
  </div>
</div>
