<style>
  input[type="checkbox"].data {
    display: none;
    margin: 0px;
    padding: 0px;
    background-color: #ffffff;
  }
  input[type="checkbox"].data + label {
    margin: 0px;
    padding: 0px;
    border: none;
    background-color: #ffffff;
  }
  input[type="checkbox"].data:checked + label {
    margin: 0px;
    padding: 0px;
    border: none;
    color: #3cb371;
    background-color: #ffffff;
  }
  input[type="checkbox"].data:checked + label:hover {
    margin: 0px;
    padding: 0px;
    color: #3cb371;
    border: none;
    background-color: #ffffff;
  }
  label.data {
    margin: 0px;
    padding: 0px;
    text-align: center;
    cursor: pointer;
    color: #dddddd;
    background-color: #ffffff;
    border: none;
  }
  table.toppage {
    table-layout: fixed;
  }
  table.toppage th {
    text-align: center;
    vertical-align: middle;
  }
  table.toppage td {
    text-align: center;
    vertical-align: middle;
    border: 2px dotted #e1e1e1;
  }
  table.toppage td.border_inner {
    border-right-width: 2px;
    border-right-style: dotted;
    border-right-color: #e1e1e1;
  }
</style>

<div class="row align-items-top justify-content-left">
  <div class="col-sm-2" align="left" style="width: 20%;">
    <form role="form" method="post" action="{{ url_for('component_api.download_json' ) }}" accept-charset="UTF-8">
      <input type="hidden" name="path" value="{{ component['qctest']['results']['result_json'] }}" />
      <button class="btn btn-primary" type="submit" type="button">Download TestRun</button>
    </form>
  </div>

  {% if 'property' in component['qctest']['results']['results'] %}
    {% set ana_version = component['qctest']['results']['results']['property']['ANALYSIS_VERSION'] %}
  {% elif 'property' in component['qctest']['results']['results'] %}
    {% set ana_version = component['qctest']['results']['results']['properties']['ANALYSIS_VERSION'] %}
  {% else %}
    {% set ana_version = '' %}
  {% endif %}

  {% if session['logged_in'] %}
    {% if component['qctest']['results']['testType'] == 'E_SUMMARY' %}
      <div class="col-sm-2" align="left">
        <form role="form" method="post" action="{{ url_for('qc_api.recycle_summary' ) }}" accept-charset="UTF-8">
          <input type="hidden" name="test_run_id" value="{{ component['qctest']['results']['id'] }}" />
          <input type="hidden" name="serial_number" value="{{ component['info']['name'] }}" />
          <button class="btn btn-warning" type="submit" type="button">Recycle E-Summary</button>
          <p>(Server's version: {{ table_docs['qc_analysis_version'] }})</p>
        </form>
      </div>
    {% else %}
      {% if component['qctest']['results']['rawId'] != None %}
        <div class="col-sm-2" align="left">
          <form role="form" method="post" action="{{ url_for('qc_api.recycle_analysis' ) }}" accept-charset="UTF-8">
            <input type="hidden" name="test_run_id" value="{{ component['qctest']['results']['id'] }}" />
            <input type="hidden" name="serial_number" value="{{ component['info']['name'] }}" />
            <button class="btn btn-warning" type="submit" type="button">Recycle Simple Analysis</button>
            <p>(Server's version: {{ table_docs['mqat_version'] }})</p>
          </form>
        </div>
      {% elif component['qctest']['results']['rawId'] == None %}
        <div class="col-sm-2" align="left">
          <form role="form" method="post" action="{{ url_for('qc_api.recycle_complex_analysis' ) }}" accept-charset="UTF-8">
            <input type="hidden" name="test_run_id" value="{{ component['qctest']['results']['id'] }}" />
            <input type="hidden" name="serial_number" value="{{ component['info']['name'] }}" />
            <button class="btn btn-warning" type="submit" type="button">Recycle Complex Analysis</button>
            <p>(Server's version: {{ table_docs['qc_analysis_version'] }})</p>
          </form>
        </div>
      {% endif %}
    {% endif %}
  {% endif %}
</div>

<h4><strong>Basic View Only:</strong> custom view for this TestRun is not prepared.</h4>
<div class="row align-items-top justify-content-left">
  <div class="col-md-6">
    <h4>
      {% if component['qctest']['results'] %}
        <i class="fa fa-file"></i> Metadata
      {% endif %}
    </h4>
    {% if component['qctest']['results'] %}
      <table class="table table-sm table-bordered" style="font-size: 10pt;">
        <thead class="table-light">
          <tr>
            <th scope="col" class="text-left">Key</th>
            <th scope="col" class="text-left">Data</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" class="text-left">QC Passed</th>
            <td class="text-left">{{ component['qctest']['results']['passed'] }}</td>
          </tr>
          <tr>
            <th scope="row" class="text-left">Date</th>
            <td class="text-left">{{ component['qctest']['results']['datetime'] }}</td>
          </tr>
          <tr>
            <th scope="row" class="text-left">component ObjectId</th>
            <td class="text-left">{{ component['qctest']['results']['component'] }}</td>
          </tr>
          <tr>
            <th scope="row" class="text-left">Stage</th>
            <td class="text-left">{{ component['qctest']['results']['stage'] }}</td>
          </tr>
          <tr>
            <th scope="row" class="text-left">Test Type</th>
            <td class="text-left">{{ component['qctest']['results']['testType'] }}</td>
          </tr>
          <tr>
            <th scope="row" class="text-left">Institute ObjectId</th>
            <td class="text-left">{{ component['qctest']['results']['institute']['institution'] }}</td>
          </tr>
          <tr>
            <th scope="row" class="text-left">User Name</th>
            <td class="text-left">{{ component['qctest']['results']['user'] }}</td>
          </tr>
          <tr>
            <th scope="row" class="text-left">ObjectId of this record</th>
            <td class="text-left">{{ component['qctest']['results']['id'] }}</td>
          </tr>
          <tr>
            <th scope="row" class="text-left">ObjectId of RAW record</th>
            <td class="text-left">{{ component['qctest']['results']['rawId'] }}</td>
          </tr>
          {% if ('config_revision' in component['tr_ser'] and 'config_id' in component['tr_ser']) %}
            <tr>
              <th scope="row" class="text-left">Tuning Config</th>
              <td class="text-left">
                <a
                  class="badge badge-pill badge-success"
                  href="{{ url_for('config_api.show_config', configId = component['tr_ser']['config_id'], revision = component['tr_ser']['config_revision'] ) }}"
                  >Associated FE Config</a
                >
              </td>
            </tr>
          {% endif %}
        </tbody>
      </table>
    {% endif %}
  </div>
</div>

<div class="row align-items-top justify-content-left">
  <div class="col-md-6">
    {% if component['qctest']['results'] %}
      <h4>
        <a
          class="badge badge-link"
          href="{{ url_for('component_api.download_test_run_result', test_run_id=component['qctest']['results']['runId']) }}"
          download
          ><i class="fa fa-download fa-2x" style="vertical-align: middle;" aria-hidden="true"></i
        ></a>
        Results
      </h4>
      <table class="table table-sm table-bordered" style="font-size: 10pt;">
        <thead class="table-light">
          <tr>
            <th scope="col" class="text-left">Key</th>
            <th scope="col" class="text-left">Data</th>
          </tr>
        </thead>
        <tbody>
          {% for key in component['qctest']['results']['results'] %}
            {% if key == 'property' or key == 'properties' or key == 'Metadata' or key == 'metadata' %}

              {% for key2 in component['qctest']['results']['results'][key] %}
                <tr>
                  <th scope="row" class="text-left">{{ key2 }}</th>
                  {% if key2 == "ANALYSIS_VERSION" %}
                    {% if component['qctest']['results']['testType'] == 'E_SUMMARY' %}
                      <td class="text-left">localdb-tools v{{ component['qctest']['results']['results'][key][key2] | safe }}</td>
                    {% else %}
                      <td class="text-left">mqat v{{ component['qctest']['results']['results'][key][key2] | safe }}</td>
                    {% endif %}
                  {% else %}
                    <td class="text-left">{{ component['qctest']['results']['results'][key][key2] | safe }}</td>
                  {% endif %}
                </tr>
              {% endfor %}
            {% else %}
              <tr>
                <th scope="row" class="text-left">{{ key }}</th>
                <td class="text-left">{{ component['qctest']['results']['results'][key] | safe }}</td>
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
    {% if component['qctest']['results']['summary'] %}
      <table class="table table-sm table-bordered" style="font-size: 10pt;">
        <thead class="table-light">
          <tr>
            <th scope="col" class="text-left">Key</th>
            <th scope="col" class="text-left">Data</th>
          </tr>
        </thead>
        <tbody>
          {% for key in component['qctest']['results']['summary'] %}

            {% if key == 'property' or key == 'properties' or key == 'Metadata' or key == 'metadata' %}
              {% for key2 in component['qctest']['results']['summary'][key] %}
                <tr>
                  <th scope="row" class="text-left">{{ key2 }}</th>
                  <td class="text-left">{{ component['qctest']['results']['summary'][key][key2] | safe }}</td>
                </tr>
              {% endfor %}
            {% else %}
              <tr>
                <th scope="row" class="text-left">{{ key }}</th>
                <td class="text-left">{{ component['qctest']['results']['summary'][key] | safe }}</td>
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
  </div>
</div>

<div class="row align-items-top justify-content-left">
  <div class="col-md-6">
    <h4>
      {% if component['qctest']['results']['attachments'] | length > 0 %}
        <i class="fa fa-file"></i> Attachments
      {% endif %}
    </h4>
    {% if component['qctest']['results']['attachments'] | length > 0 %}
      <table class="table table-sm table-bordered" style="font-size: 10pt;">
        <thead class="table-light">
          <tr>
            <th scope="col" class="text-left">Filename</th>
            <th scope="col" class="text-left">Contents</th>
          </tr>
        </thead>
        <tbody>
          {% for file in component['qctest']['results']['attachments'] %}
            <tr>
              <th scope="row" class="text-left">
                <a class="badge badge-link" href="{{ component['qctest']['results']['attachments'][file]['download_uri'] }}" download
                  ><i class="fa fa-download fa-2x" style="vertical-align: middle;" aria-hidden="true"></i
                ></a>
                {{ file }}
              </th>
              {% if 'thumbnail_uri' in component['qctest']['results']['attachments'][file] %}
                <td class="text-left"><img src="{{ component['qctest']['results']['attachments'][file]['thumbnail_uri'] }}" /></td>
              {% else %}
                <td class="text-left">
                  <a
                    class="btn btn-primary"
                    href="{{ component['qctest']['results']['attachments'][file]['download_uri'] }}"
                    role="button"
                    download
                    >Download</a
                  >
                </td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
  </div>
</div>

<div class="row align-items-top justify-content-left">
  <div class="col-md-6">
    <h4>
      {% if component['qctest']['results']['vi_doc'] | length > 0 %}
        <i class="fa fa-file"></i> Visual Inspection Defects
      {% endif %}
    </h4>

    {% if component['qctest']['results']['vi_doc'] | length > 0 %}
      {% for file in component['qctest']['results']['vi_doc'] %}
        {% set file_content = component['qctest']['results']['vi_doc'][file] %}
        {% if file == 'front_image' or file == 'back_image' %}
          <a class="btn btn-primary" href="{{ file_content['download_uri'] }}" role="button" download>Download {{ file }}</a>
        {% endif %}
      {% endfor %}
    {% endif %}

    {% if component['qctest']['results']['vi_doc'] | length > 0 %}
      <table class="table table-sm table-bordered">
        <thead class="table-light">
          <tr>
            <th scope="col" class="text-left">Filename</th>
            <th scope="col" class="text-left">Contents</th>
            <th scope="col" class="text-left">Defects</th>
            <th scope="col" class="text-left">Comment</th>
          </tr>
        </thead>
        <tbody>
          {% for file in component['qctest']['results']['vi_doc'] %}
            {% set file_content = component['qctest']['results']['vi_doc'][file] %}
            {% if file != 'front_image' and file != 'back_image' %}
              <tr>
                <th scope="row" class="text-left">
                  <p>{{ file }}</p>
                  <a class="btn btn-primary" href="{{ file_content['download_uri'] }}" role="button">Download {{ file }}</a>
                </th>
                <td class="text-left">
                  <img src="{{ file_content['thumbnail_uri'] }}" width="200px" />
                </td>
                {% if file_content | length > 3 %}
                  <td class="text-left">
                    <ul style="font-size: 150%;">
                      {% if file_content['defects'] %}
                        {% for item in file_content['defects'] %}
                          {% set type = item.split('.')[0] %}
                          {% if type == 'Yellow' %}
                            <li><span class="badge badge-warning">{{ item.split('.')[1] }}</span></li>
                          {% elif type == 'Red' %}
                            <li><span class="badge badge-danger">{{ item.split('.')[1] }}</span></li>
                          {% endif %}
                        {% endfor %}
                      {% endif %}
                    </ul>
                  </td>
                  <td class="text-left">{{ file_content['comments'] }}</td>
                {% else %}
                  <td class="text-left">N/A</td>
                  <td class="text-left">N/A</td>
                {% endif %}
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
  </div>
</div>
