{% if component['qctest']['results']['raw_record'] != {} %}
  <h4><i class="fa fa-file"></i> RAW Results Record</h4>
  <div class="row align-items-top justify-content-left" style="margin-left: 2%; margin-top: 10px;">
    <button
      class="btn btn-info"
      type="button"
      data-toggle="collapse"
      data-target="#rawRecord"
      aria-expanded="false"
      aria-controls="rawRecord"
    >
      Expand RAW Record
    </button>
  </div>
  <div class="row align-items-top justify-content-left" style="margin-left: 2%; margin-top: 10px;">
    <a
      class="btn btn-primary"
      href="{{ url_for('qc_api.download_testRun_raw', testRun=component['qctest']['results']['id']) }}"
      target="_brank"
      rel="noopener noreferrer"
      title="Download data"
      style="font-size: 10pt;"
    >
      <i class="fa fa-download"></i> Download RAW
    </a>
  </div>
  <div class="collapse" id="rawRecord">
    <div class="card card-body">{{ component['qctest']['results']['raw_record'] | safe }}</div>
  </div>
{% endif %}
