<style>
  th {
    background-color: #eeeeff;
  }
  tbody {
    vertical-align: top;
  }
</style>
{% extends "layout.html" %}

{% block body %}
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col">
        <h1 style="margin-top: 0.5%; margin-bottom: 0%; font-size: 150%;">
          <a href="/localdb/" style="color:rgba(0, 0, 0, 0.648);;">Top Page</a>
          > {{ title }}
        </h1>
        <h1>{{ title }}</h1>
      </div>
    </div>
  </div>

  <div class="container">
    {% if message or message_done %}
      <div class="row">
        {% if message %}
          <div class="col align-items-left justify-content-left">
            <p><strong style="color: red;">ERROR: {{ message }}</strong></p>
          </div>
        {% endif %}

        {% if message_done %}
          <div class="col align-items-left justify-content-left">
            <p><strong style="color: #4A4;">{{ message_done }}</strong></p>
          </div>
        {% endif %}
      </div>
      <hr />
    {% endif %}

    <dl class="row">
      <dt class="col-sm-3">Component Serial Number</dt>
      <dd class="col-sm-9"><a href="{{ url_for('component_api.show_component', id=componentID) }}">{{ serialNumber }}</a></dd>

      <dt class="col-sm-3">Component Type</dt>
      <dd class="col-sm-9">{{ componentType }}</dd>

      <dt class="col-sm-3">Stage</dt>
      <dd class="col-sm-9">{{ stage }}</dd>

      <dt class="col-sm-3">Test Type</dt>
      <dd class="col-sm-9">{{ testType }}</dd>
    </dl>

    {% if mode == 'input' %}
      <div class="row">
        <div class="col">
          <h3>Please Fill the following fields:</h3>
          <form
            role="form"
            method="post"
            enctype="multipart/form-data"
            action="{{ url_for('qc_api.input_qcTests') }}"
            accept-charset="UTF-8"
          >
            <fieldset id="time_startend" class="col border p-2">
              <legend class="w-auto">Measurement/Operation Date and Time<font color="#ff0000">*</font></legend>
              <div class="form-group">
                <label class="form-label" for="TimeStart">Start Date/Time</label>
                <div class="input-group">
                  <input
                    type="datetime-local"
                    name="TimeStart"
                    id="TimeStart"
                    class="form-control"
                    required="required"
                    value="{{ datetime_local_now }}"
                  />
                  <select name="TimeStart-tz" id="TimeStart-tz" class="form-control" required>
                    {% for timezone in timezones %}
                      <option {% if timezone == local_timezone %}selected{% endif %}>{{ timezone }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label class="form-label" for="TimeEnd">End Date/Time</label>
                <div class="input-group">
                  <input
                    type="datetime-local"
                    name="TimeEnd"
                    id="TimeEnd"
                    class="form-control"
                    required="required"
                    value="{{ datetime_local_now }}"
                  />
                  <select name="TimeEnd-tz" id="TimeEnd-tz" class="form-control" required>
                    {% for timezone in timezones %}
                      <option {% if timezone == local_timezone %}selected{% endif %}>{{ timezone }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label class="form-label">Duration</label>
                <input type="text" id="duration" name="duration" class="form-control" disabled />
              </div>
            </fieldset>

            {% if testFormat['properties']|length > 0 %}
              <fieldset class="col border p-2">
                <legend class="w-auto"><i class="fa fa-file"></i> Properties</legend>
                {% for prop in testFormat['properties'] %}
                  {% set prop_isTimestamp = (prop["dataType"] in ["string", "integer"] and prop["code"].startswith("DATE_") or prop["code"].endswith("_DATE")) %}
                  {% if prop['code'] != 'ANALYSIS_VERSION' and not prop_isTimestamp %}
                    <div class="form-group">
                      <label for="{{ prop['code'] }}" class="form-label">
                        {{ prop['name'] }}
                        {% if prop['required'] %}
                          <span class="form-text text-danger"><sup>*</sup></span>
                        {% endif %}
                        <small class="form-text text-muted">({{ prop['description'] }})</small>
                      </label>
                      <div class="input-group">
                        <span class="input-group-text">{{ prop['code'] }}</span>
                        {% if prop['dataType'] == 'codeTable' %}
                          <select name="{{ prop['code'] }}" id="{{ prop['code'] }}" class="form-control">
                            <option value="N/A" {% if prop['value'] == None %}selected{% endif %}>N/A</option>
                            {% for elem in prop['codeTable'] %}
                              <option value="{{ elem['code'] }}">{{ elem['value'] }}</option>
                            {% endfor %}
                          </select>
                        {% elif prop['dataType'] == 'boolean' %}
                          <select name="{{ prop['code'] }}" id="{{ prop['code'] }}" class="form-control">
                            <option value="N/A" {% if prop['value'] == None %}selected{% endif %}>N/A</option>
                            <option value="true" {% if prop['value'] == True %}selected{% endif %}>Yes</option>
                            <option value="false" {% if prop['value'] == False %}selected{% endif %}>No</option>
                          </select>
                        {% elif prop['dataType'] == 'float' %}
                          <input
                            type="number"
                            name="{{ prop['code'] }}"
                            id="{{ prop['code'] }}"
                            class="form-control"
                            {{ "required " if prop['required'] else "" }}step="0.001"
                            value=""
                          />
                        {% elif prop['dataType'] == 'integer' and not prop_isTimestamp %}
                          <input
                            type="number"
                            name="{{ prop['code'] }}"
                            id="{{ prop['code'] }}"
                            class="form-control"
                            {{ "required " if prop['required'] else "" }}value=""
                          />
                        {% else %}
                          {% if prop['value'] != None %}
                            <input
                              type="text"
                              name="{{ prop['code'] }}"
                              id="{{ prop['code'] }}"
                              class="form-control"
                              {{ "required " if prop['required'] else "" }}value=""
                            />
                          {% else %}
                            <input
                              type="text"
                              name="{{ prop['code'] }}"
                              id="{{ prop['code'] }}"
                              class="form-control"
                              {{ "required " if prop['required'] else "" }}value="N/A"
                            />
                          {% endif %}
                        {% endif %}
                        <span class="input-group-text col-sm-1 justify-content-center">{{ prop['dataType'] }}</span>
                      </div>
                    </div>
                  {% endif %}
                {% endfor %}
              </fieldset>
            {% endif %}

            {% if testFormat['parameters']|length > 0 %}
              <fieldset class="col border p-2">
                <legend class="w-auto"><i class="fa fa-file"></i> Parameters</legend>
                {% for param in testFormat['parameters'] %}
                  {% set param_isTimestamp = (param["dataType"] in ["string", "integer"] and param["code"].startswith("DATE_") or param["code"].endswith("_DATE")) %}
                  {% if param['code'] != 'ANALYSIS_VERSION' and not param_isTimestamp %}
                    <div class="form-group">
                      <label for="{{ param['code'] }}" class="form-label">
                        {{ param['name'] }}
                        {% if param['required'] %}
                          <span class="form-text text-danger"><sup>*</sup></span>
                        {% endif %}
                        <small class="form-text text-muted">({{ param['description'] }})</small>
                      </label>
                      <div class="input-group">
                        <span class="input-group-text">{{ param['code'] }}</span>
                        {% if param['dataType'] == 'codeTable' %}
                          <select name="{{ param['code'] }}" id="{{ param['code'] }}" class="form-control">
                            <option value="N/A" {% if param['value'] == None %}selected{% endif %}>N/A</option>
                            {% for elem in param['codeTable'] %}
                              <option value="{{ elem['code'] }}">{{ elem['value'] }}</option>
                            {% endfor %}
                          </select>
                        {% elif param['dataType'] == 'boolean' %}
                          <select name="{{ param['code'] }}" id="{{ param['code'] }}" class="form-control">
                            <option value="N/A" {% if param['value'] == None %}selected{% endif %}>N/A</option>
                            <option value="true" {% if param['value'] == True %}selected{% endif %}>Yes</option>
                            <option value="false" {% if param['value'] == False %}selected{% endif %}>No</option>
                          </select>
                        {% elif param['dataType'] == 'float' %}
                          <input
                            type="number"
                            name="{{ param['code'] }}"
                            id="{{ param['code'] }}"
                            class="form-control"
                            {{ "required " if param['required'] else "" }}step="0.001"
                            value=""
                          />
                        {% elif param['dataType'] == 'integer' and not param_isTimestamp %}
                          <input
                            type="number"
                            name="{{ param['code'] }}"
                            id="{{ param['code'] }}"
                            class="form-control"
                            {{ "required " if param['required'] else "" }}value=""
                          />
                        {% elif param['dataType'] == 'binary' %}
                          <input
                            type="file"
                            name="{{ param['code'] }}"
                            id="{{ param['code'] }}"
                            class="form-control"
                            {{ "required " if param['required'] else "" }}name="{{ param['code'] }}"
                            class="form-control form-control-lg"
                          />
                        {% elif param['dataType'] == 'image' %}
                          <input
                            type="file"
                            name="{{ param['code'] }}"
                            id="{{ param['code'] }}"
                            class="form-control"
                            {{ "required " if param['required'] else "" }}name="{{ param['code'] }}"
                            class="form-control form-control-lg"
                          />
                        {% elif param['dataType'] == 'object' %}
                          <input
                            type="text"
                            name="{{ param['code'] }}"
                            id="{{ param['code'] }}"
                            class="form-control"
                            {{ "required " if param['required'] else "" }}value="Format must be a JSON"
                          />
                        {% else %}
                          {% if param['value'] != None %}
                            <input
                              type="text"
                              name="{{ param['code'] }}"
                              id="{{ param['code'] }}"
                              class="form-control"
                              {{ "required " if param['required'] else "" }}value=""
                            />
                          {% else %}
                            <input
                              type="text"
                              name="{{ param['code'] }}"
                              id="{{ param['code'] }}"
                              class="form-control"
                              {{ "required " if param['required'] else "" }}value="N/A"
                            />
                          {% endif %}
                        {% endif %}
                        <span class="input-group-text col-sm-1 justify-content-center">{{ param['dataType'] }}</span>
                      </div>
                    </div>
                  {% endif %}
                {% endfor %}
              </fieldset>
            {% endif %}

            <input type="hidden" name="componentID" value="{{ componentID }}" />
            <input type="hidden" name="componentType" value="{{ componentType }}" />
            <input type="hidden" name="stage" value="{{ stage }}" />
            <input type="hidden" name="testType" value="{{ testType }}" />
            <input type="hidden" name="mode" value="confirm" />

            <a href="{{ url_for('component_api.show_component', id=componentID) }}" class="btn btn-warning">Back to the Component Page</a>
            <button class="btn btn-primary" type="submit">Proceed</button>
          </form>
        </div>
      </div>
    {% elif mode == 'confirm' %}
      <div class="col align-items-left justify-content-left">
        <h3>Confirmation</h3>
        <form class="col" method="post" enctype="multipart/form-data" action="{{ url_for('qc_api.input_qcTests') }}">
          <h4><i class="fa fa-calendar"></i> Measurement/Operation Date and Time</h4>
          <table class="table table-sm table-bordered table-striped" style="font-size: 130%;">
            <thead>
              <th></th>
              <th>Datetime</th>
              <th>Timezone</th>
            </thead>
            <tr>
              <th>Start Time</th>
              <td>
                {{ TimeStart }}
                <input type="hidden" name="TimeStart" value="{{ TimeStart }}" />
              </td>
              <td>
                {{ TimeStart_tz }}
                <input type="hidden" name="TimeStart-tz" value="{{ TimeStart_tz }}" />
              </td>
            </tr>
            <tr>
              <th>End Time</th>
              <td>
                {{ TimeEnd }}
                <input type="hidden" name="TimeEnd" value="{{ TimeEnd }}" />
              </td>
              <td>
                {{ TimeEnd_tz }}
                <input type="hidden" name="TimeEnd-tz" value="{{ TimeEnd_tz }}" />
              </td>
            </tr>
          </table>

          {% if testFormat['properties']|length > 0 %}
            <h4><i class="fa fa-file"></i> Properties</h4>
          {% endif %}
          <table class="table table-sm table-bordered table-striped" style="font-size: 130%;">
            {% if testFormat['properties']|length > 0 %}
              <thead>
                <th>Property Code</th>
                <th>Property Name</th>
                <th>dataType</th>
                <th style="width:40%;">Value</th>
              </thead>
            {% endif %}
            {% for prop in testFormat['properties'] %}
              {% if prop['code'] != 'ANALYSIS_VERSION' %}
                <tr>
                  <th>
                    {% if prop['required'] %}
                      <span class="text-danger"><sup>*</sup></span>
                    {% endif %}{{ prop['code'] }}
                  </th>
                  <th>{{ prop['name'] }}</th>
                  <td>{{ prop['dataType'] }}</td>
                  <td>
                    {% if prop['dataType'] == "codeTable" %}
                      {% for opt in prop["codeTable"] %}
                        {% if opt['code'] == properties[ prop['code'] ] %}
                          Code = &quot;{{ opt['code'] }}&quot; Value = &quot;{{ opt['value'] }}&quot;
                          <input type="hidden" name="{{ prop['code'] }}" value="{{ opt['code'] }}" />
                        {% endif %}
                      {% endfor %}
                    {% else %}
                      {{ properties[ prop['code'] ] }}
                      <input type="hidden" name="{{ prop['code'] }}" value="{{ properties[ prop['code'] ] }}" />
                    {% endif %}
                  </td>
                </tr>
              {% endif %}
            {% endfor %}
          </table>

          {% if testFormat['parameters']|length > 0 %}
            <h4><i class="fa fa-file"></i> Parameters</h4>
          {% endif %}
          <table class="table table-sm table-bordered table-striped" style="font-size: 130%;">
            {% if testFormat['parameters']|length > 0 %}
              <thead>
                <th>Parameter Code</th>
                <th>Parameter Name</th>
                <th>dataType</th>
                <th style="width:40%;">Value</th>
              </thead>
            {% endif %}
            {% for param in testFormat['parameters'] %}
              <tr>
                <th>
                  {% if param['required'] %}
                    <span class="text-danger"><sup>*</sup></span>
                  {% endif %}{{ param['code'] }}
                </th>
                <th>{{ param['name'] }}</th>
                <td>{{ param['dataType'] }}</td>
                <td>
                  {% if param['dataType'] == "codeTable" %}
                    {% for opt in param["codeTable"] %}
                      {% if opt['code'] == parameters[ param['code'] ] %}
                        Code = &quot;{{ opt['code'] }}&quot; Value = &quot;{{ opt['value'] }}&quot;
                        <input type="hidden" name="{{ param['code'] }}" value="{{ opt['code'] }}" />
                      {% endif %}
                    {% endfor %}
                  {% else %}
                    {{ parameters[ param['code'] ] }}
                    <input type="hidden" name="{{ param['code'] }}" value="{{ parameters[ param['code'] ] }}" />
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </table>

          <input type="hidden" name="componentID" value="{{ componentID }}" />
          <input type="hidden" name="componentType" value="{{ componentType }}" />
          <input type="hidden" name="stage" value="{{ stage }}" />
          <input type="hidden" name="testType" value="{{ testType }}" />
          <input type="hidden" name="mode" value="submit" />

          <a
            href="{{ url_for('qc_api.input_qcTests', componentID=componentID, componentType=componentType, stage = stage, testType = testType) }}"
            class="btn btn-warning"
            >Back to Input</a
          >
          <button class="btn btn-primary" type="submit">Submit</button>
        </form>
      </div>
    {% else %}
      <div class="col align-items-left justify-content-left">
        <h3>QC Analysis Result</h3>
        <h4>
          <a
            href="{{ url_for('component_api.show_component', id=componentID, test='qctest', runId=anaResult['_id']|string) }}"
            class="badge badge-pill badge-{{ 'success' if anaResult['passed'] else 'danger' }}"
            >Go To TestRun</a
          >
        </h4>
        {% if already_registered %}
          <h5>
            <font color="#ff0000"
              ><i class="fa fa-warning "></i>This test was already registered, will not insert a new one. See results below.</font
            >
          </h5>
        {% endif %}
        {{ anaResultHTML | safe }}
      </div>
    {% endif %}
  </div>
{% endblock %}

{% block javascript %}
  <script type="text/javascript">
    const startTime = document.querySelector("#TimeStart");
    const startTz = document.querySelector("#TimeStart-tz");
    const endTime = document.querySelector("#TimeEnd");
    const endTz = document.querySelector("#TimeEnd-tz");
    const duration = document.querySelector("#duration");

    function update() {
      const start = dayjs.tz(startTime.value, startTz.value);
      const end = dayjs.tz(endTime.value, endTz.value);

      duration.value = humanizeDuration(end.diff(start));
    }

    document.querySelector("fieldset#time_startend").addEventListener("change", update);
    update();
  </script>
{% endblock %}
