<div class="container">
  <div class="row">
    <div class="col text-center">
      <p class="">
        LocalDB Viewer v2.2.39-rc9&nbsp;&nbsp;2019&mdash;2023 ATLAS ITk Pixel Module Group<sub
          ><a href="https://gitlab.cern.ch/akubota/web-app-db-yarr/blob/master/LICENSE.TXT" target="_blank">&nbsp;[License]</a></sub
        >
        <br />
        Supports: <a href="atlas-itk-pixel-localdb.docs.cern.ch">Document</a> |
        <a href="https://localdb-docs.readthedocs.io/en/master/qcflow/flow/">QC Demo Guide</a> |
        <a href="https://mattermost.web.cern.ch/itkpixel/channels/local-database" target="_blank">Mattermost</a> |
        <a href="https://gitlab.cern.ch/YARR/localdb-tools/-/issues" target="_blank">GitLab Issues</a> |
        <a href="{{ url_for('site.site_map') }}">Site Map</a>
      </p>
    </div>
  </div>
</div>
