<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="robots" content="noindex" />

<title>Database for ITk Pixel Module</title>

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600|Montserrat:200,300,400" />
<link rel="stylesheet" href="{{ url_for('static', filename='assets/fonts/ionicons/css/ionicons.min.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='assets/fonts/fontawesome/css/font-awesome.min.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/slick.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/slick-theme.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='tablesorter-master/docs/css/jq.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='tablesorter-master/dist/css/theme.bootstrap_4.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" />
