<script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/slick.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/jquery.mb.YTPlayer.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/jquery.waypoints.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/jquery.easing.1.3.js') }}"></script>
<script src="{{ url_for('static', filename='tablesorter-master/docs/js/jquery-1.2.6.min.js') }}"></script>
<script src="{{ url_for('static', filename='tablesorter-master/dist/js/jquery.tablesorter.min.js') }}"></script>
<script src="{{ url_for('static', filename='tablesorter-master/dist/js/jquery.tablesorter.widgets.min.js') }}"></script>

<script src="https://cdn.jsdelivr.net/npm/cleave-zen@0.0.17/dist/cleave-zen.umd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/dayjs@1/plugin/relativeTime.js"></script>
<script src="https://cdn.jsdelivr.net/npm/dayjs@1/plugin/utc.js"></script>
<script src="https://cdn.jsdelivr.net/npm/dayjs@1/plugin/timezone.js"></script>
<script src="https://cdn.jsdelivr.net/npm/humanize-duration@3.32.1/humanize-duration.min.js"></script>

<script>
  dayjs.extend(window.dayjs_plugin_relativeTime);
  dayjs.extend(window.dayjs_plugin_utc);
  dayjs.extend(window.dayjs_plugin_timezone);
</script>

<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
