{% if session['logged_in'] %}
  <div class="col align-items-center justify-content-center" style="margin-top: 10px;">
    {% for msg in table_docs['messages'] %}
      {% if msg['code'] == "INFO_GITLAB_ANNOUNCEMENT" %}
        <div class="container alert alert-info">
          [<a
            href="https://gitlab.cern.ch/YARR/localdb-tools/-/issues/{{ msg['component'] }}"
            target="_blank"
            class="stretched-link alert-link"
            >YARR/localdb-tools#{{ msg['component'] }}</a
          >] {{ msg['message'] }}
        </div>
      {% else %}
        {% set status='secondary' %}
        {% if 'ERROR' in msg['message'] %}
          {% set status='danger' %}
        {% elif 'WARNING' in msg['message'] %}
          {% set status='warning' %}
        {% else %}

        {% endif %}
        <div class="alert alert-{{ status }}" role="alert">
          <strong>[ {{ msg['code'] | safe }} ]</strong><br />
          {{ msg['component'] }}: {{ msg['message'] | safe }}
          {% if msg['can_dismiss'] == true or not 'can_dismiss' in msg %}
            <a href="{{ url_for('user_api.delete_message', message_id=msg['_id']) }}"><button class="btn-secondary">Dismiss</button></a>
          {% endif %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}
